@use "modulos";
@use "./modulos/menuSoloCss";

.main {
  flex-grow: 1;
  max-width: 90%;
  margin: 0 auto;
  justify-self: flex-start;

  &__seccion {
    padding: 1rem;

    &--dos {
      $columnas: repeat(auto-fit, minmax(280px, auto));
      @include modulos.grid($columnas, auto);
      gap: 1rem;
    }

    * h2,
    * h3 {
      padding: 1rem 0;
    }

    * p {
      padding: 1rem;
    }

    ul,
    li,
    ol {
      margin-left: 2rem;
    }

    div {
      padding: 1rem 0;
    }

    * .centrar {
      text-align: center;
    }
  }
}
