*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #c6cac683;
  --color-title: rgb(4, 4, 36);
  --color-texto: black;
  font: 14px/1.6 "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4 {
  color: var(--color-title);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html {
  background-color: var(--bg-color);
}

body {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: whitesmoke;
  box-shadow: 0px 3px 10px #666;
}

/************** header ****************/
header {
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 3rem;
}

/************** main ********************/
main {
  padding: 1rem 2rem;
  width: 100%;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  border-bottom: 2px solid #c6c6c6;
}

h4 {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  font-family: "Courier New", Courier, monospace;
}

code.codigo {
  background-color: var(--bg-color);
  width: 100%;
  height: max-content;
  display: block;
  padding: 1rem 0.5rem;
  margin: 1rem 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
}


figure.rectangulo {
  width: auto;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}



dt {
  padding: 1rem;
  font-weight: 600;
}

dd {
  padding-left: 2rem;
}

figure img {
  transition: all 0.5s ease-in-out;
  border: 1px solid black;
  width: 100%;
}

/*=============================================
=            Estilos de desenfoque - blur     =
=============================================*/

#filtros section:first-of-type figure .imagen:hover {
  filter: blur(5px);
}


/*=============================================
=            Estilos de Brillo - brightness   =
=============================================*/

#filtros section:nth-of-type(2) figure .imagen:hover {
  filter: brightness(1.5);
}

/*=============================================
=            Estilos de contraste - contrast            =
=============================================*/

#filtros section:nth-of-type(3) figure .imagen:hover {
  filter: contrast(200%);
}


/*=============================================
=            Estilos Sombra a la imagen  - drop-shadow       =
=============================================*/
#filtros section:nth-of-type(4) figure {
  overflow: initial;
}

#filtros section:nth-of-type(4) figure .imagen:hover {
  filter: drop-shadow(16px 16px 16px black);
}

/*=============================================
=            Estilos Escala de grises - grayscale           =
=============================================*/

#filtros section:nth-of-type(5) figure .imagen:hover {
  filter: grayscale(80%);
}

/*=============================================
=            Estilos Rotación en el tono - hue-rotate            =
=============================================*/

#filtros section:nth-of-type(6) figure .imagen:hover {
  filter: hue-rotate(120deg);
}

/*=============================================
=            Estilos  Inversión de colores - invert         =
=============================================*/
#filtros section:nth-of-type(7) figure .imagen:hover {
  filter: invert(100%);
}

/*=============================================
=            Estilos saturación - saturate            =
============================================*/

#filtros section:nth-of-type(8) figure .imagen:hover {
  filter: saturate(180%);
}


/*=============================================
=            Estilos Sepia            =
=============================================*/

#filtros section:nth-of-type(9) figure .imagen:hover {
  filter: sepia(100%);
}


/*=============================================
=            Estilos Trassparencia - opacity           =
=============================================*/
#filtros section:nth-of-type(10) figure {
  background-image: url("../img/desierto.jpg");
}

#filtros section:nth-of-type(10) figure .imagen:hover {
  filter: opacity(.5);
}


/*=============================================
=            Estilos Combinación de funciones            =
=============================================*/

#filtros section:nth-of-type(11) figure .imagen:hover {
  filter: contrast(175%) brightness(30%);
}

/*=============================================
=            Estilos Transformación 2D - matrix            =
=============================================*/

#matrix .imagen:hover {
  -webkit-transform: matrix(1, -0.2, 0, 1, 0, 0);
  -o-transform: matrix(1, -0.2, 0, 1, 0, 0);
  transform: matrix(1, -0.2, 0, 1, -5, 0);
}


/*=============================================
=            Estilos Zoom y cambios de tamaño            =
=============================================*/
figure.cuadrada {
  width: auto;
  max-width: max-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  margin: 0 auto;
}


figure.sale {
  overflow: initial;
}

#trasformaciones section:nth-of-type(2) figure .imagen:hover {

  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/*=============================================
=            Estilos Giros y rotaciones            =
=============================================*/

#trasformaciones section:nth-of-type(3) figure:first-of-type .imagen:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#trasformaciones section:nth-of-type(3) figure:last-of-type {
  background-image: url("../img/desierto.jpg");
  border: 1px solid brown;
  transition-duration: 5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /* transform-style	flat | preserve-3d	Modifica el tratamiento 3D de los elementos hijos.
  Por defecto, la propiedad transform-style está establecida a flat, o lo que es lo mismo,
   trata los elementos como elementos 2D, por lo que no podemos usar 3D, salvo que lo 
   indiquemos expresamente con el valor preserve-3d. De esta forma, todos los elementos
    hijos del elemento que tenga esa propiedad, se tratarán como elementos 3D:*/
}

#trasformaciones section:nth-of-type(3) figure:last-of-type .imagen:hover {

  /*transform-origin	  	Cambia el punto de origen del elemento en una transformación.*/
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}


/*=============================================
=            Estilos combinando efectos            =
=============================================*/

#combinar figure {
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

#combinar img:hover {}


/*=============================================
=            Estilos punto de origen            =
=============================================*/

#origen figure {}

.cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 400px));
  justify-content: center;
  gap: 1rem;
}

/************ footer ******************/
footer {
  width: 100%;
  text-align: center;
  border-top: 2px solid #c6c6c6;
  padding: 1rem 0;
  color: #666;
  font-size: 0.8rem;
}


@media screen and (min-width: 720px) {
  :root {
    font-size: 16px;
  }

}