@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

body {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*=============================================
=            Estilos del header            =
=============================================*/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


/*=====  End of Estilos del header  ======*/





main {
  flex: 1;
}