@import "./fonts.css";

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #F8F8F8;
  --bg-tabla: #194B5F;
  --color-primario: white;
  --color-secundario: black;
  --color-equipo: #B30000;
  --font-title: 'Syncopate'.'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --font-primaria: 'Open sans', sans-serif;
  --font-title-segunda: 'Syne', 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

img {
  width: 100%;
  object-fit: cover;
}

.logo, .icon {
  max-width: 40px;
}


body {
  background-color: var(--bg-color);
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-primaria);
}

h1 {
  font-family: var(--font-title);
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-title-segunda);
}

h2 {
  font-size: 2.5rem;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.btn {
  text-decoration: none;
  color: var(--color-secundario);
  background-color: var(--color-primario);
  padding: .5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  color: var(--color-primario);
  background-color: var(--color-secundario);
}

section:not(#portada) {
  margin-bottom: 1rem;
}

/*=============================================
=            Estilos del header            =
=============================================*/
header {
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.menu ul a {
  text-decoration: none;
  color: var(--color-secundario);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: var(--font-title);
}

.menu ul a:hover {
  color: var(--color-equipo);
}

/*=====  End of Estilos del header  ======*/



/*=============================================
=            Estilos del main            =
=============================================*/
main {
  flex: 1;
}

#portada {
  width: 100%;
  padding: 10vh 1rem 1rem 2rem;
  background: var(--color-secundario) url(../assets/images/fondo.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  /* min-height: 40vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h1 {
  font-size: 12vw;
  text-transform: uppercase;
  color: var(--color-primario);
  /* definimos un borde */
  text-shadow:
    1px 1px 0 #666,
    -1px 1px 0 #666,
    -1px -1px 0 #666,
    1px -1px 0 #666;

}


/*=============================================
=            Estilos contador            =
=============================================*/
#contador {
  max-width: 90%;
  margin: 0 auto;
  margin-top: -2vh;
  box-shadow: 4px 4px 10px;
  background-color: var(--color-primario);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

#contador h2 {
  font-size: 2rem;
}

/* #contador div:nth-of-type(2) p:first-of-type { */
#contador div:nth-child(2) p:first-child {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 4px;
  font-weight: bold;
}

#contador div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


/*=============================================
=            Estilos deportes            =
=============================================*/
#deportes {
  margin-top: 3rem;
}

#deportes .card {
  width: 280px;
  height: 260px;
  padding: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  color: var(--color-primario);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#deportes h2 {
  font-size: 2.8rem;
}

#deportes .card:nth-of-type(1) {
  background-image: url(../assets/images/features-athletics.png);
}

#deportes .card:nth-of-type(2) {
  background-image: url(../assets/images/features-boxing.png);
}

#deportes .card:nth-of-type(3) {
  background-image: url(../assets/images/features-weightlifting.png);
}

#deportes .card:nth-of-type(4) {
  background-image: url(../assets/images/features-cycling.png);
}


/*=============================================
=            Estilos de la sección equipo            =
=============================================*/
#equipo {
  background: url("../assets/images/background-about2.png");
  color: var(--color-primario);
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

#equipo figure {
  max-width: 400px;
  /* overflow: hidden; */
}

#equipo figure img {
  border-radius: 5px;
}



/*=============================================
=            Estilos medallero            =
=============================================*/
#medallero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#medallero caption {
  padding-bottom: .5rem;
}

table {
  font-size: 1.1rem;
  background-color: var(--color-primario);
  box-shadow: 4px 4px 10px #c3c3c3;
}

/* table, th, td, tr {
  border: 1px solid;
  border-collapse: collapse;
} */

th, td {
  padding: 1rem;
}

th {
  background-color: var(--bg-tabla);
  color: var(--color-primario);
  font-family: var(--font-title-segunda);
  font-size: 1.3rem;
}

tr:not(:last-of-type) td {
  border-bottom: 1px dotted #c4c4c4;
}





/*=====  End of Estilos del main  ======*/


/*=============================================
=            Estilos del footer            =
=============================================*/
footer {
  padding: 1rem;
  background-color: var(--color-secundario);
  color: var(--color-primario);
  text-align: center;
}


/*=====  End of Estilos del footer  ======*/


/*=============================================
=            media queries            =
=============================================*/
@media screen and (min-width: 800px) {
  :root {
    font-size: 14px;
  }

  .logo, .icon {
    max-width: 60px;
  }

  header {
    flex-direction: row;
  }

  #portada {
    /* min-height: 80vh; */
    background-size: cover;
  }

  #contador {
    max-width: 700px;
  }

  /* #equipo .contenido {
    flex: 1;
  } */

  #equipo .contenido {
    /*flex-basis: 70%;
    /* flex-grow: 1; */
    flex: 1 0 70%;
  }
}


/*=====  End of media queries  ======*/