a[href~="contacta"]::after {
    content: " \260E";
    color: red;
}
/** A=0 B=0 C=1 D=2 **/
nav.menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    list-style: none;
} /** A=0 B=0 C=1 D=2 **/

nav.menu a{
    color: brown;
    font-size: 16px;
}
/** A=0 B=0 C=1 D=2 **/

nav a {
    color: red;
} /** 0002 **/

li a {
    text-decoration: none;
    color: yellow;
} /** 0002 **/

@media screen and (min-width: 720px) {
    nav.menu ul {
        flex-direction: row;
    } /** 0001 */
    nav a{
        font-size: 20px;
        text-transform: uppercase;
        color: blueviolet;
    } /** 0002 **/
    a{
        color: grey;
    }
}

a#activa{
    font-weight: 600;
    text-decoration: 1px double black;
    text-emphasis-style: "🎈";
    text-emphasis-position: under left;
} /** A=0 B=1 C=0 D=1 **/

a {
    font-size: 22px;
} /** 0001 **/


/* Herencia */

main{
    color: brown;
}

h2 {
    color: olive;
}

main > h2 {
    position: sticky;
    top: 0;
    right: 0;
}

section{
    color: blue;
}
section h2{
    color: initial;
}

section h2{
    color: inherit;
}

section h2{
    color: unset;
}

/* Z-index - profundidad*/

img{
    width: 100%;
    object-fit: cover;
}
#profundidad{
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

#profundidad p{
    color: black;
    font-size: 1.4rem;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 100;
}