@charset "utf-8";


/* Estilos para el video y audio */
audio,video{
    box-shadow: 10px 15px 20px rgb(44, 43, 43);
    display: block;
    margin: 1% auto;
    max-width: 95%;
    border-radius: 20px;
}


/*=============================================
=            Estilos de los subtitulos            =
=============================================*/
::cue{
    background-color: rgba(0, 0, 0, 0.656);
    text-shadow: 1px 1px 2px black;
    color: orange;
    font: 1.2rem "sans serif";
}

::cue(.titulo){
    color: green;
    font-size: 3rem;
    background-color: white;
}

::cue(v[voice=padre]){
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.5rem;
}

::cue(v[voice=narrador]){
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
}

::cue(v[voice=entrenador]){
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.7rem;
    color: yellow;
}

/*=====  End of Estilos de los subtitulos  ======*/


/*=============================================
=            Estilos audio            =
=============================================*/
.testimonio{
    margin: 0 auto;
    padding-right: 0.5rem;
    background-color: #ccc;
    border-radius: 20px;
    box-shadow: 3px 3px 20px #ccc;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.testimonio figure{
    height: 100%;
}
.testimonio figure img{
    height: 100%;
    /* object-fit: contain; */
}
.testimonio h3{
    font-size: 1.5rem;
    text-align: center;
}


/*=====  End of Estilos audio  ======*/

@media screen and (min-width: 769px) {
    .testimonio{
        height: 200px;
        max-width: 800px;
        display: grid;
        grid-template-columns: minmax(auto,200px) 1fr;
        align-items: center;
        text-align: center;
    }
}