*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #555;
}

html{
    background-color: #eee;
}

body{
    width: 90%;
    max-width: 1200px; 
    background-color: white;
    border-radius: 20px;
    margin: .5rem auto;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 1rem);
}

/* Estilos de la cabecera */
header{
    text-align: center;
    padding: 2rem;
}

h1{
    font-size: 3rem;
    border-bottom: 1px solid #c3c3c3;
}

/* Estilos de galería */

main{
    flex: 1;
}
.galeria{
    padding: 1rem;
    display: grid;
/*    grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));*/
    grid-template-columns: repeat(auto-fit,minmax(180px, 1fr));
    grid-auto-rows: 280px;
    grid-auto-flow: row dense; 
    gap: 1rem;
}

figure{
    border-radius: 20px;
    box-shadow: 0 4px 5px;
    display: flex;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

figure:hover{
    box-shadow: 0 5px 10px purple;
}

img{
    width: 100%;
    object-fit: cover;
}

/* Estilos del footer */

footer{
    display: flex;
    justify-content: center;
    min-height: 50px;
}