/**
 *
 * Galiría con CSS
 * Autor: Marina Vega Vázquez
 */

/* Estilos generales */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  color: #555;
}

html {
  background-color: #eee;
}

body {
  border-radius: 20px;
  background-color: white;
  width: 99vw;
  max-width: 1200px;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 1rem);
}

/*=============================================
=            Estilos de la cabecera            =
=============================================*/
header {
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  border-bottom: 1px solid #c3c3c3;
}

/*=====  End of Estilos de la cabecera  ======*/

/*=============================================
=            Estilos de la galería            =
=============================================*/
main {
  flex: 1;
  width: 100%;
}

.galeria{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(auto,200px));
  grid-auto-flow: row dense;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

figure{
  border-radius: 20px;
  box-shadow: 0 4px 5px;
  overflow: hidden;
  transition: all 2ms ease-out;
  display: flex;
}

img{
  width: 100%;
  object-fit: cover;
}



/*=====  End of Estilos de la galería  ======*/

/*=============================================
=            Estilos del footer            =
=============================================*/
footer {
  display: flex;
  justify-content: center;
  color: #666;
  min-height: 50px;
}

figure:hover{
  box-shadow: 2px 5px 10px goldenrod;
}
/* figure:hover{ */
  img:hover{ 
     transform: scale(1.2);
}
/*=====  End of Estilos del footer  ======*/


/*=============================================
=            Estilos media queries            =
=============================================*/
@media screen and (min-width: 720px) {
  figure:nth-of-type(5){
    grid-column: span 2;
    grid-row: span 2;
  }
}