*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
/* Estilos generales*/
html{
    font-size: 14px; /* rem */
}

body{
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

header{
    border-bottom: 1px solid gray;
}

h1{
    text-align: center;
    font-size: 2.5rem;
}
h2{
    font-size: 1.8rem;
}

h3{
    font-size: 1.4rem;
}

article, aside, section{
    background-color: rgba(105, 105, 105, 0.233);
    margin: 0 auto;
    margin: 20px 0px;
    padding: 10px;
}


code{
    font-family: 'Courier New', Courier, monospace;
    color: darkslategrey;
}

p,li,nav,ul,code{
    margin: 20px;
}
p, li{
    line-height: 1.2rem;
}


ul.destacados li{
    font-weight: 400;
    font-size: 1.3rem;
}


a {
    text-decoration-color: blueviolet;
  }

[title="tel"] {
    color: green;
}

[href] {
    font-size: 125%;
    padding: 8px;
}

  /* odd -> impares
    even -> pares*/
article:nth-child(odd){
    background-color: beige;
}

a:visited{
    color: chocolate;
}

input:hover{
    background-color: aqua;
}

#parrafo2{
    background-color: white;
    color: black;
}
p.parrafo{
    background-color: black;
    color: white;
}

/* selector descendiente*/
article p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* selector directo de hijos*/
article > p {
    color: darkblue;
}

/* hermano adyacente */
h2 + p::first-letter {
    font-size: 3rem;
}

/* hermano general */
h2 ~ p{
    font-weight: bold;
}

p{
    font-weight: normal;
    font-size: 1rem;
    color: crimson;
}

a[href*="@"]{
    background-color: aqua;
}

a{
    background-color: greenyellow;
}

  /* footer{
    position: absolute;
    bottom: 0;
    border-top: 1px solid gray;
    width: 80vw;
  } */