*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font: 14px/1.6 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

/* Estilos de la cabecera */
header {
    text-align: center;
    background-color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: color;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* estilos finales tras la animación
    none - ningún estilo
    backwards - los estilos del primer fotograma
    forwards - los estilos del último fotograma
    both - aplica los estilos en ambas direcciones
    */

}

h1 {
    font-size: 3rem;
}

/** Estilos generales de las secciones */
section {
    width: 400px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

figure {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

/* Estilos de la sección del texto */
section.mover {
    background-color: rgba(0, 204, 255, 0.336);
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 20px;
    box-shadow: 3px 4px 10px rgb(82, 82, 204);

    animation: movimiento-abajo-arriba 5s;

    position: relative;
}

/* Estilos animación giro */
.girar img {
    position: relative;
    left: 0;
    animation: movimiento-giratorio 3s 2 linear;
}

/* Estilos fotograma animación girar */
@keyframes movimiento-giratorio {
    0% {
        transform: translatex(0) rotate(0deg);
        filter: blur(0px);
    }

    25% {
        transform: translateX(400%) rotate(90deg);
        filter: blur(5px);
    }

    50% {
        transform: translateX(0) rotate(180deg);
        filter: blur(0px);
    }

    75% {
        transform: translateX(-400%) rotate(270deg);
        filter: blur(5px);
    }

    100% {
        transform: translatex(0) rotate(360deg);
        filter: blur(0px);
    }
}


/* Estilos animados sobre un evento hover */
/* .movimiento {
    transform: scale(0.5);
} */

.movimiento:hover {
    animation: ampliar 5s 2 alternate;
    /* animation-direction: normal Define la dirección de la animación
    normal - se reproduce tal cual se define en el @keyframe
    reverse - se invierte el orden
    alternate - para múltiples interacciones alterna el normal con el reverse
    alternate-reverse - reproduce la animación en la dirección reverse seguidad de la normal*/
    -webkit-animation: ampliar 5s 2 alternate;
    /* Safari 4+ */
    -moz-animation: ampliar 5s 2 alternate;
    /* Fx 5+ */
    -o-animation: ampliar 5s 2 alternate;
    /* opera 12+ */
}

/* Estilo fotrograma ampliar */
@keyframes ampliar {
    0% {
        scale: 0.5;
    }

    25% {
        scale: 0.75;
    }

    50% {
        scale: 1;
    }

    75% {
        scale: 1.25;
    }

    100% {
        scale: 1.5;
    }
}

@-webkit-keyframes ampliar {
    0% {
        scale: 0.5;
    }

    25% {
        scale: 0.75;
    }

    50% {
        scale: 1;
    }

    75% {
        scale: 1.25;
    }

    100% {
        scale: 1.5;
    }
}

@-moz-keyframes ampliar {
    0% {
        scale: 0.5;
    }

    25% {
        scale: 0.75;
    }

    50% {
        scale: 1;
    }

    75% {
        scale: 1.25;
    }

    100% {
        scale: 1.5;
    }
}

@-o-keyframes ampliar {
    0% {
        scale: 0.5;
    }

    25% {
        scale: 0.75;
    }

    50% {
        scale: 1;
    }

    75% {
        scale: 1.25;
    }

    100% {
        scale: 1.5;
    }
}

/* Estilos animados de ampliar imagen */
section.ampliar img {
    animation: ampliar 5s 2 5s alternate;
    scale: 0.5;
}

/* Estilos animación color */
@keyframes color {
    from {
        background-color: white;
    }

    50% {
        background-color: bisque;
        box-shadow: 1px 1px 1px burlywood;
    }

    to {
        background-color: wheat;
        box-shadow: 4px 4px 10px burlywood;
    }
}

/* Estilos animación movimiento abajo arriba */
@keyframes movimiento-abajo-arriba {
    from {
        top: 90vh;
        left: 0;
    }

    to {
        top: 0;
        left: 0;
    }
}

/* Estilos para la pelota */
#pelota {
    width: 50px;
    height: auto;
}

#pelota svg {
    width: 50px;
    height: auto;
    fill: wheat;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: vuelo;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Estilos fotrograma animación vuelo pelota */
@keyframes vuelo {
    0% {
        left: 0;
        top: 0;
        opacity: 1;
    }

    15% {
        left: calc(100vw / 4);
        top: calc(100vh / 2);
        opacity: 1;
    }

    25% {
        left: calc(100vw / 2);
        top: calc(100vh / 3);
        opacity: 1;
    }

    50% {
        left: calc(100vw - 50px);
        top: calc(100vh - 100px);
        opacity: 1;
    }

    75% {
        left: calc(100vw / 3);
        top: 100px;
        opacity: 1;
    }

    100% {
        left: calc(100vw - 50px);
        top: calc(100vh - 100px);
        opacity: 1;
    }

}

label,
input {
    width: max-content;
    margin-top: 1rem;
    padding: .5rem;
    font-size: 1.2rem;
}

#parar:checked~section,
#parar:checked~section * img,
#parar:checked~figure>svg {
    animation-play-state: paused;
}