/* importamos normalize para borrar formatos del navegador */
@import "./normalize.css";
/* importamos las fuentes */
@import "./fuentes.css";
/*
   Deseño de interfaces Web
   Unidad Didáctica 6
   Clases

   Página Web del Cine Penguin Royal Wedding 
   Autor: Marina Vega Vázquez
   Fecha: 08/02/2023

   Fichero:  misestilos.css

*/
/*============================ estilos básicos =====================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-primaria: 'sanchez', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --ff-secundaria: 'playfair_display', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --color-fuente-boton: #000;
    --color-boton: rgb(224, 177, 89);
    --color-boton2: rgb(131, 103, 52);
    --color-botonS: #ffc000;
    --color-fuente: #000000;
    --color-fondo: #ffffff;
    --color-icono: #6c6c6c;
    --color-linea: #7e7e7ea9;
    --color-fondo-card-desc: rgba(122, 121, 121, 0.106);
    font-family: var(--ff-secundaria);
    font-size: 12px;
    line-height: 1.6rem;
}

html{
    background-color: #6c6c6c11;
}
