/* ******************************************
**** Primer css
**** Autor: Marina Vega
**** fecha: 19/02/2024
****
********************************************* */
// Sintaxis scss
@use "./modulos" as modulos;

.articulo {
    padding: 1rem;

    &-portada {
        height: 300px;
        // interpolación de variables
        background: url(#{modulos.$url-img}/fondos/#{modulos.$fondo}) no-repeat center;
    }

    h2 {
        font-size: 2rem;
        background-color: modulos.$color-fondo-h2;
        padding-left: 1rem;
        border-radius: modulos.$radio-small;
    }

    p {
        padding: 0.5rem;

        &.autor {
            font-style: italic;
        }

        a {
            text-decoration: none;
            color: modulos.$color-fondo;

            &:hover {
                color: blue;
                border-bottom: 1px solid blue;
            }
        }
    }
}

.cards{
    @include modulos.flex();
    gap: 1rem;

    &__card{
        @include modulos.ancho-alto(250px,250px);
        @include modulos.flex(column);

        $prepro: "sass","less","stylus";
        @each $fondo in $prepro{
            &--#{$fondo}{
                background: url(#{modulos.$url-img}/prepro/#{$fondo}.jpg) no-repeat;
                background-size: cover;
            }
        }

        h3{
          $font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           @include modulos.fuente($font-family, 3rem,white); 
        }
    }

}