/* Estilos para el modo claro */
:root {
    --content: ' 🙅‍♀️ no compatible';
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

h1::after {
  content: var(--content);
}

--content: ' 🌑 Modo oscuro';
--content: ' 🌞 Modo claro';
