// Modulo con variables
$bg-primario: #14183c;
$color-texto: #fff;
$bg-cards: #252848;
$bg-menu: #252848f5;
$bg-card: linear-gradient(#ff5e34, #ff28a4);
$bg-btn: linear-gradient(#ff5e34, #ff28a4);
$bg-hover: linear-gradient(#8744d2, #f767bb);
$color-enlaces: #ff94d2;
$color-hover: #02bdda;
$box-shadow:
  0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
$radio-borde: 20;
$fuente-primaria: "Rubik", sans-serif;
$fuente-secundaria: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$fuente-size: 14;
$tam-h1: 2.5;
$url-assets: "../../assets/";
$cursos: "animation", "design", "photography", "crypto", "business";

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);
// puntos de ruptura
$breakpoints: (
  "movil": (
    max-width: 700px
  ),
  "escritorio": (
    min-widht: 701px
  )
);

$prefixes: (
  "firefox": moz,
  "safari": webkit,
  "ie": ms,
  "opera": o
);
