// Estilos base (elementos html, body, main..)
@use "../utilities/variables" as var;
@use "../utilities/mixins";

:root {
  font: 14px/1.6 var.$fuente;
}

a {
  text-decoration-color: var.$colorSass;
  color: var.$colorSass;

  &:hover {
    color: blue;
  }

  header & {
    font-weight: 500;
  }
}

ul,
li {
  margin-left: 1rem;
}

%Estilos_titulos {
  text-align: center;
  color: var.$grisOscuro;
  padding: 0 0.5rem;
}
body {
  max-width: 100vw;
  // min-height: 100vh;
  // display: grid;
  // grid-template-rows: auto 1fr auto;
  @include mixins.encabezados(2rem);

  @media screen and (min-width: 1024px) {
    @include mixins.encabezados(3rem);
  }

  main {
    max-width: 95%;
    margin: 0 auto;
    padding: 1rem 0;

    & * h2,
    & * h3 {
      @extend %Estilos_titulos;
    }

    p {
      padding: 0.25rem 0;
    }

    section {
      padding: 1rem 0;
      // falta max-width: 100%;

      &:not(:first-of-type) {
        border-top: 1px solid var.$grisClaro;
      }
    }
  }
}
