// Estilos de la tipografía
@use "sass:string";
@use "../utilities/variables" as var;

@font-face {
    font-family: Roboto;
    src: url(string.quote(#{var.$roboto}) + "/Roboto-Regular.ttf") format(truetype);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(string.quote(#{var.$roboto}) + "/Roboto-Bold.ttf") format(truetype);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Source_Cope_Pro;
    src: url(string.quote(#{var.$source-code}) + "/SourceCodePro-Regular.ttf") format(truetype);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Source_Cope_Pro;
    src: url(string.quote(#{var.$source-code}) + "/SourceCodePro-Bold.ttf") format(truetype);
    font-style: normal;
    font-weight: bold;
}
