@charset "utf-8";

/*
   Deseño de interfaces Web
   Unidad Didáctica 6
   Clases

   Página Web del Cine Penguin Royal Wedding 
   Autor: Marina Vega Vázquez
   Fecha: 08/02/2023

   Fichero:   media.css

*/

/* Estilos de reproducción de audio y vídeo */