@charset "utf-8";

/*
   Deseño de interfaces Web
   Unidad Didáctica 6
   Clases

   Página Web del Cine Penguin Royal Wedding 
   Autor: Marina Vega Vázquez
   Fecha: 08/02/2023

   Fichero:   media.css

*/

/* Estilos de reproducción de audio y vídeo */
::cue {
   background-color: rgba(0, 0, 0, 0.3);
   text-shadow: 1px 1px 2px black;
   color: orange;
   font: 1.2rem sans-serif;
}

::cue(v[voice=padre]){
   font: 1.5rem Georgia;
   color: white;
}

::cue(v[voice=narrador]){
   font: 1.7rem Verdana;
}

::cue(v[voice=entrenador]){
   font: 1.7rem Cambria;
   color: yellow;
}

::cue(.fin){
   font-size: 1.8rem;
   color: brown;
   background-color: rgba(255, 255, 255, 0.546);
}


/* Estilos de pistas de audio y video */
audio, video{
   box-shadow: 10px 15px 20px rgb(44,43,43);
   display: block;
   margin: 1% auto;
   width: 95%;
   border-radius: 20px;
}



/* Estilos para el audio */
.testimonio {
   margin: 0 auto;
   width: auto;
   max-width: 800px;
   background-color: #ccc;
   border-radius: 20px;
   box-shadow: 3px 3px 20px #ccc;
   display: flex;
   text-align: center;
}

.testimonio h3{
   font-size: 1.5rem;
}

.testimonio figure{
   width: 100%;
   max-width: 200px;
   max-height: 200px;
}

.testimonio figure img{
   width: 100%;
   height: auto;
   object-fit: cover;
   border-radius: 20px;
}

@media screen and (min-width: 720px){
   .testimonio{
      max-height: 200px;
      display: grid;
      grid-template-columns: minmax(auto,200px) 1fr;
      grid-template-rows: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
   }

   .testimonio figure{
      grid-row: 1/4;
   }

   
}