html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a[href="#top"] {
  margin: 1rem;
  display: block;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  margin-top: 50vh;
  text-align: center;
}

img {
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.menu {
  margin-bottom: 100vh;
  font-size: 125%;
}

.menu li {
  margin-bottom: 1rem;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #222;
  border: medium solid #000;
}

.item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #666;
  border: medium solid #999;
}

.sub-item {
  padding: 1rem;
  background-color: #ddd;
  border: medium solid #ccc;
}

section {
  width: 70%;
  margin: 0 auto;
}

/* estilos de grid explicito */

.grid-explicit {
  display: grid;
  /* 3cx3f */
  grid-template-columns: 50% 100px 1fr;
  /* grid-template-rows: 2rem 20vh 30%;
  /* 5cx4f */
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 100px repeat(3, 1fr);
  grid-template-rows: 2fr repeat(3, 1fr);

  gap: 0.5rem 1rem;
  /*
  row-gap: .5rem;
  column-gap: 1rem*/
  grid-template-columns: calc(20% - 1rem) repeat(2, calc(30% - 0.5rem)) calc(20% - 1rem);
  gap: 0;
  /* 5cx4f */
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, 1fr);
}

.grid-explicit .item:nth-of-type(10) {
  background-color: red;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 6;

  /*grid-row: grid-row-start grid-row-end */
  grid-row: 3/4;
  grid-column: 5/6;
  /* grid-area: grid-row-start / grid-column-start / grid-row-end /grid-column-end*/
  grid-area: 3 / 5 / 4 / 6;
}

.grid-explicit .item:nth-of-type(12) {
  background-color: aqua;
  grid-row: span 2;
  grid-column: span 3;
}

.grid-explicit .item:nth-of-type(15) {
  background-color: blue;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  grid-column: 1 / span 4;
}

/* grid por nombre de lineas */
.grid-line-names {
  display: grid;
  /* 3cx3f*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-columns: [linea-c1] 1fr [linea-c2] 1fr [linea-c3] 1fr [linea-c4];
  grid-template-rows: [linea-f1] 1fr [linea-f2] 1fr [linea-f3] 1fr [linea-f4];
  grid-template-rows: [linea-f1] auto [linea-f2] auto [linea-f3] auto [linea-f4];
}

.grid-line-names .item:nth-of-type(3) {
  background-color: aqua;
  /* grid-row: linea-f3 / linea-f4;
  grid-column: linea-c1 / linea-c4; */
  grid-area: linea-f3 / linea-c1 / linea-f4 / linea-c4;
}

/* Grid áreas */

.grid-areas {
  display: grid;
  /* 3cx3f */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1fr 60px;
  grid-template-areas:
    "header header  header"
    "content content sidebar"
    "footer footer  footer";

  grid-template-rows: 100px repeat(2, 1fr) 60px;
  grid-template-areas:
    "header header  header"
    "content content sidebar"
    "content content ."
    "footer footer  footer";
}

.header {
  background-color: aquamarine;
  grid-area: header;
}

.content {
  background-color: antiquewhite;
  grid-area: content;
}

.sidebar {
  background-color: burlywood;
  grid-area: sidebar;
}

.footer {
  background-color: darkblue;
  grid-area: footer;
}

/* Grid implícito */

.grid-implicit {
  display: grid;
  display: inline-grid;
  display: -ms-inline-grid;
  display: -moz-inline-grid;

  width: 40%;

  /* 4cx3f */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-template-rows: repeat(3, minmax(auto, 200px));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  /* grid-template-rows: repeat(3, minmax(auto, 1fr)); */
}

/* Flujo del grid */
.grid-flow {
  display: grid;
  /*5cx3f*/
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(3, 200px); */
  /* grid-auto-flow: row; */
  /* valor por defecto */

  /* grid-auto-flow: column; */

  /* grid-auto-flow: auto; */

  grid-auto-rows: 100px;
  grid-auto-columns: 80px;
  grid-auto-rows: auto;
}

/* Flujo denso */

.grid-flow-dense {
  display: grid;
  /*5cx3f*/
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 200px);

  grid-auto-flow: row dense;
}

.grid-flow-dense .item:nth-of-type(9) {
  background-color: aqua;
  grid-row: span 2;
  grid-column: span 3;
}

/** Grid items en capas (superposición) **/
.grid-layers {
  display: grid;
  /* 4cx4f */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* .grid-layers .item:nth-of-type(1),
.grid-layers .item:nth-of-type(2),
.grid-layers .item:nth-of-type(3),
.grid-layers .item:nth-of-type(4) {
  grid-column: span 2;
  grid-row: span 2;
} */

.grid-layers .item:nth-of-type(1) {
  background-color: yellow;
  grid-column: 1/ 3;
  grid-row: 1/3;
}

.grid-layers .item:nth-of-type(2) {
  background-color: blue;
  grid-area: 1 / 3 / 3 / 5;
}

.grid-layers .item:nth-of-type(3) {
  background-color: greenyellow;
  grid-area: 3 / 1 / 5 /3;
}

.grid-layers .item:nth-of-type(4) {
  background-color: orange;
  grid-area: 3 / 3 / 5 / 5;
}

.grid-layers .item:nth-of-type(5) {
  background-color: blueviolet;
  grid-area: 2 / 2 / 4 / 4;
  opacity: .75;
}


/* Estilos del order de lo items */
.grid-order {
  display: grid;
  /* 3c x 2f */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-order .item:nth-of-type(1) {
  order: 1;
}

.grid-order .item:nth-of-type(2) {
  order: 2;
}

.grid-order .item:nth-of-type(5) {
  order: -1;
}


/* Alineamiento de Grid items */

.grid-align {
  display: grid;
  /* 3c x 2f */
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
  /* alinea los items en el eje X 
  valor por defecto stretch*/
  justify-items: stretch;
  justify-items: end;
  justify-items: start;
  justify-items: center;


  /* alinea los items en el eje Y 
  valor por defecto stretch*/
  align-items: stretch;
  align-items: end;
  align-items: start;
  align-items: center;
}

.grid-align .item:nth-of-type(4) {
  justify-self: start;
  align-self: start;
}


/* Alineamiento de Grid Tracks */
.grid-align-tracks {
  display: grid;
  /* 3c x 2f */
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
  /* justify-contens alinea los tracks de la grid en el eje horizontal(X)
  valor defecto: start */
  justify-content: start;
  justify-content: end;
  justify-content: center;
  justify-content: stretch;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;

  /* aling-contens alinea los tracks de la grid en el eje vertical(Y)
  valor defecto: start */
  align-content: start;
  align-content: end;
  align-content: center;
  align-content: stretch;
  align-content: space-between;
  align-content: space-around;
  align-content: space-evenly;
}


/* Definimos tamaño mínimo y máximo de los items */

.grid-min-max {
  display: grid;
  /* 4cx?f*/
  grid-template-columns: repeat(4, minmax(100px, 200px));
  grid-template-columns: repeat(4, minmax(min-content, 200px));
  grid-template-columns: repeat(4, minmax(200px, min-content));
  grid-template-columns: repeat(4, minmax(max-content, 200px));
  grid-template-columns: repeat(4, minmax(200px, max-content));
  grid-template-columns: repeat(4, minmax(min-content, max-content));
}


/* Grid con patrones repetidos */
.grid-repeat {
  display: grid;
  /* 4cx?f */
  grid-template-columns: repeat(4, 10% 20% 30% 40%);
  /* cuidado con poner patrones repetitivos de esta forma ya que se repetirá en la misma fila*/
  grid-template-columns: repeat(2, 10% 20% 30% 40%);
  grid-template-columns: repeat(1, 10% 20% 30% 40%);
  grid-template-columns: repeat(2, 10% 20%);
  grid-template-columns: repeat(2, 1fr 2fr);
  /* 4cx4f */
  /* NO FUNCIONA */
  grid-auto-rows: repeat(2, 50px 200px);
  grid-auto-rows: 150px;
  grid-template-rows: repeat(2, 50px 200px);

}

/* Estilos de la Grid Dinámica */
.grid-dynamics {
  display: grid;
  /* 4cx?f */
  grid-template-columns: repeat(4, 1fr);
  /* auto-fill rellena la grid con tracks (filas o columnas - en este caso columnas ) generados dinámicamente.*/
  grid-template-columns: repeat(auto-fill, 100px);
  /* auto-fit ajusta la grid con tracks (filas o columnas - en este caso columnas ) existentes. Como podemos ver el track termina al terminar el último elemento*/
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(auto, 280px));
  justify-content: center;
}

/* Estilos para Responsive sin Media Queries */
.grid-responsive {
  display: grid;
  /* ajustaremos a los items que tenemos en la track */
  /* tendremos en cuenta que las pantallas más pequeñas de un móvil es de 320px podemos crear una caja de 280px mínimo (200px en nuestro caso)*/
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1vw;
}



/*  Estilos grid anidados */
.grid-nested {
  display: grid;
  /* 3cx?f */
  grid-template-columns: repeat(3, 1fr);
}


/* Estilos con subgrid */
.grid {
  display: grid;
  /* 3cx2f*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);

}

.subgrid {
  /* para que la caracteristica de subgrid funcione es necesario hacer lo siguiente:
    1) Definir explicitamente el tamaño (celdas del padre) ocupará el elemento que aplicará subgrid dentro del contenedor padre. 
       Es devir, sus porpiedades grid-column y grid-row
    2) Aplicar display grid al elemento que aplicará subgrid.
    3) Aplicar el valor de subgrid a las columnas, o a las filas o a ambas, dependiendo como se desee maquetar*/
  grid-column: span 3;
  grid-row: span 2;
  /* al definir que el subgrid ocupa las 6 celdas explicitas de la grid padre el resto de items estarán en la
  grid implicita */
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}