html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a[href="#top"] {
  margin: 1rem;
  display: block;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  margin-top: 50vh;
  text-align: center;
}

img {
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.menu {
  margin-bottom: 100vh;
  font-size: 125%;
}

.menu li {
  margin-bottom: 1rem;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #222;
  border: medium solid #000;
}

.item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #666;
  border: medium solid #999;
}

.sub-item {
  padding: 1rem;
  background-color: #ddd;
  border: medium solid #ccc;
}

section {
  width: 70%;
  margin: 0 auto;
}

/* estilos de grid explicito */

.grid-explicit {
  display: grid;
  /* 3cx3f */
  grid-template-columns: 50% 100px 1fr;
  /* grid-template-rows: 2rem 20vh 30%;
  /* 5cx4f */
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 100px repeat(3, 1fr);
  grid-template-rows: 2fr repeat(3, 1fr);

  gap: .5rem 1rem;
  /*
  row-gap: .5rem;
  column-gap: 1rem*/
  grid-template-columns: calc(20% - 1rem) repeat(2, calc(30% - .5rem)) calc(20% - 1rem);
  gap: 0;
  /* 5cx4f */
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, 1fr);

}

.grid-explicit .item:nth-of-type(10) {
  background-color: red;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 6;

  /*grid-row: grid-row-start grid-row-end */
  grid-row: 3/4;
  grid-column: 5/6;
  /* grid-area: grid-row-start / grid-column-start / grid-row-end /grid-column-end*/
  grid-area: 3 / 5 / 4 / 6;
}

.grid-explicit .item:nth-of-type(12) {
  background-color: aqua;
  grid-row: span 2;
  grid-column: span 3;
}

.grid-explicit .item:nth-of-type(15) {
  background-color: blue;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  grid-column: 1 / span 4;

}

/* grid por nombre de lineas */
.grid-line-names {
  display: grid;
  /* 3cx3f*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-columns: [linea-c1] 1fr [linea-c2] 1fr [linea-c3] 1fr [linea-c4];
  grid-template-rows: [linea-f1] 1fr [linea-f2] 1fr [linea-f3] 1fr [linea-f4];
  grid-template-rows: [linea-f1] auto [linea-f2] auto [linea-f3] auto [linea-f4];

}

.grid-line-names .item:nth-of-type(3) {
  background-color: aqua;
  /* grid-row: linea-f3 / linea-f4;
  grid-column: linea-c1 / linea-c4; */
  grid-area: linea-f3 / linea-c1 / linea-f4 / linea-c4;
}


/* Grid áreas */

.grid-areas {
  display: grid;
  /* 3cx3f */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1fr 60px;
  grid-template-areas:
    "header header  header"
    "content content sidebar"
    "footer footer  footer";

  grid-template-rows: 100px repeat(2, 1fr) 60px;
  grid-template-areas:
    "header header  header"
    "content content sidebar"
    "content content ."
    "footer footer  footer";
}

.header {
  background-color: aquamarine;
  grid-area: header;
}

.content {
  background-color: antiquewhite;
  grid-area: content;
}

.sidebar {
  background-color: burlywood;
  grid-area: sidebar;
}

.footer {
  background-color: darkblue;
  grid-area: footer;
}


/* Grid implícito */

.grid-implicit {
  display: grid;
  display: inline-grid;
  display: -ms-inline-grid;
  display: -moz-inline-grid;

  width: 40%;

  /* 4cx3f */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-template-rows: repeat(3, minmax(auto, 200px));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  /* grid-template-rows: repeat(3, minmax(auto, 1fr)); */
}


/* Flujo del grid */
.grid-flow {
  display: grid;
  /*5cx3f*/
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(3, 200px); */
  /* grid-auto-flow: row; */
  /* valor por defecto */

  /* grid-auto-flow: column; */

  /* grid-auto-flow: auto; */

  grid-auto-rows: 100px;
  grid-auto-columns: 80px;
  grid-auto-rows: auto;
}


/* Flujo denso */

.grid-flow-dense {
  display: grid;
  /*5cx3f*/
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 200px);

  grid-auto-flow: row dense;
}

.grid-flow-dense .item:nth-of-type(9) {
  background-color: aqua;
  grid-row: span 2;
  grid-column: span 3;
}