$bg-dia: #ffec8b;
$color-dia: #000;
$bg-noche: #2f3277;
$color-noche: #eb4c49;
$fuente: "Helvetica", sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-dia;
  color: $color-dia;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    border: none;
    background-color: #000;
    color: white;

    font: {
      size: 2rem;
      family: $fuente;
      weight: 600;
    }
    letter-spacing: 2px;
    padding: 1.61rem 1rem;
    text-transform: uppercase;
  }

  &.dark--mode {
    color: $color-noche;
    background-color: $bg-noche;

    & span {
      visibility: hidden;
      position: relative;
      display: inline-block;

      &::after {
        content: "\274D";
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
