/**
 *
 * Estilos de las fuentes
 *
 */

@font-face {
  font-family: 'Poppins';
  src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf") format(truetype);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../assets/fonts/Poppins/Poppins-Light.ttf") format(truetype);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../assets/fonts/Poppins/Poppins-SemiBold.ttf") format(truetype);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../assets/fonts/Poppins/Poppins-Italic.ttf") format(truetype);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../assets/fonts/Poppins/Poppins-Bold.ttf") format(truetype);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url("../../assets/fonts/Poppins/Poppins-BoldItalic.ttf") format(truetype);
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Montaga';
  src: url("../../assets/fonts/Montaga/Montaga-Regular.ttf") format(truetype);
  font-style: normal;
  font-weight: normal;
}