/**
 *
 * Estilos generales
 *
 */
@import "./fonts.css";

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Montaga', serif;
  --color-texto: black;
  --bg-color: #faf7f5;
  --color-secundario: #ffc038;
  --fg-secundario: #fdf5ef;
  --bg-menu: #804000d3;
  --size-h2: 2.5rem;
  --size-h2-portada: 4rem;
  --transicion: all .5s ease-in-out;
  font: 12px/1.6 var(--font-primary);
  color: var(--color-texto);
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  width: 100%;
  object-fit: cover;
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: calc(var(--size-h2) - .75rem);
}

h4 {
  font-size: calc(var(--size-h2) - .85rem);
}

h5 {
  font-size: calc(var(--size-h2) - 1rem);
}

.display-2, .display-3 {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  text-align: center;
}

.display-2 {
  font-weight: bold;
}

.display-3--small {
  font-size: calc(var(--size-h2) - 1rem);
  font-weight: normal;
}

.contenedor {
  padding: 4rem 1rem 0 1rem;
}

nav ul, .cards {
  list-style: none;
}

p {
  padding: .5rem;
}

.small {
  font-weight: 300;
}


/*=============================================
=            Estilos generales para cards            =
=============================================*/
.cards {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.cards__item {
  max-width: calc(1000 / 3 * 1px);
}

/*=====  End of Estilos generales para cards  ======*/


/* Estilos de los botones */

.btn {
  text-decoration: none;
  color: white;
  border: 1px solid;
  padding: .5rem 1rem;
  border-radius: 40px;
  font-size: 1.2rem;
  transition: background-color .8s ease-in-out, color .5s ease;
}

.btn:hover {
  background-color: var(--color-secundario);
  color: var(--color-texto);
  border-color: white;
}

.btn--dark {
  border-radius: 0;
  background-color: var(--color-texto);
}

.btn--subir {
  align-self: flex-end;
  background-color: black;
  border-radius: 100%;
  border-color: black;
  position: sticky;
  bottom: 30px;
  left: 30px;
  padding: .8rem 1rem;
}

/*=============================================
=            Estilos de la cabecera            =
=============================================*/
header {
  background: var(--bg-menu) url(../../assets/img/showcase.jpg) no-repeat center;
  background-size: cover;
  min-height: 60vh;
  color: white;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.8rem;
}

h1 span {
  font-size: 2.2rem;
}

#cabecera {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Estilos del menú hamburguesa */

.nav__btn {
  opacity: 1;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.nav__btn:hover {
  color: var(--color-secundario);
}

.close {
  transform: translateX(-200vw);
}


/* Estilos del menú */

.nav {
  transform: translateX(-200vw);
  background-color: var(--bg-menu);
  position: fixed;
  inset: 0;
}

.nav__menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

/* mostrar el nav */
.nav--show {
  transform: translateX(0);
}


.nav__menu a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

.nav__menu a::after {
  content: "";
  width: 0;
  height: 4px;
  border-radius: 10px;
  background-color: transparent;
  align-self: center;
  transition: var(--transicion);
}

.nav__menu a:hover::after {
  width: 100%;
  background-color: var(--color-secundario);
}


/* Estilos de la portada */
.portada {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 550px));
  justify-content: center;
  align-content: start;
  align-items: center;
  gap: 4rem;
}

.portada__content h2, .portada__content h3 {
  text-transform: uppercase;
  text-align: center;
}

.portada__content h3 {
  color: var(--color-secundario);
  order: -1;
}

.portada__content h2 {
  font-size: var(--size-h2-portada);
  line-height: 1;
  font-style: italic;
}

.portada__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.portada__texto {
  font-size: 1.2rem;
}

.redes {
  width: 100%;
  padding-bottom: 2rem;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 1.2rem;
}

.redes a {
  color: white;
}

/*=====  End of Estilos de la cabecera  ======*/


/*=============================================
=            Estilos del main            =
=============================================*/
main {
  display: flex;
  flex-direction: column;
  gap: 4rem;

}

main div:nth-of-type(even) {
  background-color: var(--fg-secundario);
}


/* Estilos de la tienda */

#tienda .tipo, #tienda .precio {
  padding-left: 0;
  font-size: 1.2rem;
}

#tienda .tipo {
  padding-left: 0;
  text-transform: uppercase;
  font-weight: bold;
}

#tienda .precio::after {
  content: " €";
}

#tienda .cards__item img {
  transition: var(--transicion);
}

#tienda .cards__item img:hover {
  filter: grayscale(80%);
}

#tienda h4 {
  text-transform: capitalize;
}

/* Estilos de la sección de testimonios */

#testimonios .cards__item {
  background-color: var(--fg-secundario);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
  transition: var(--transicion);
}

.valoracion {
  color: var(--color-secundario);
}

.avatar img {
  border-radius: 50%;
  max-width: 60px;
  overflow: hidden;
}

#testimonios .card__name {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.card__name figure {
  grid-row: 1/3;
  padding-right: 1rem;
}

#testimonios .cards__item:hover {
  box-shadow: 0 4px 8px 0 var(--color-secundario),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#testimonios .card__name p:first-of-type {
  font-weight: 600;
}


/* Estilos de la sección de suscribete */
#suscribete {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

#suscribete form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input {
  padding: .5rem;
}

/*=====  End of Estilos del main  ======*/




/*=============================================
=            Media queries            =
=============================================*/
@media screen and (min-width: 720px) {
  :root {
    font-size: 16px;
    --size-h2-portada: 6rem;
  }

  .contenedor {
    max-width: 1200px;
    margin: 0 auto;
  }

  header {
    min-height: 100vh;
  }

  /* hacemos desaparecer los iconos del menú */
  .nav__btn {
    position: absolute;
    top: -200vh;
    opacity: 0;
  }

  .nav {
    transform: translateX(0);
    background-color: transparent;
    position: static;
  }

  .nav__menu {
    flex-direction: row;
  }

  /* Estilos sección nosotros */
  #nosotros ul.grid {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }

  #nosotros .cards__item--imagen {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
  }


}