*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font: 14px/1.6 "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow-x: hidden;
}

/*=============================================
 =            Estilos generales de las secciones            =
 =============================================*/




/** Estilos generales de las secciones **/
section {
  width: 400px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

figure {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

/*=============================================
=            Estilos de la cabecera            =
=============================================*/

/** Estilos de la cabecera **/
header {
  text-align: center;
  background-color: white;
  z-index: 99;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: color;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  /* estilos finales tras la animación estado final de la misma 
  none - ningun estilo
  backwards - los estilos del primer fotograma
  forwards - los estilos del último fotograma
  both - aplica los estilos en ambas direcciones*/
  animation-direction: normal;
  /* Define la dirección de la animación
  normal - se reproduce tal cual se define en el @keyframe
  reverse - se invierte el orden 
  alternate - para múltiples interacciones alterna el normal con el reverse 
  alternate-reverse - reproduce la animación en la dirección reverse seguida de la dirección normal
  */
  animation: color 5s ease-in-out forwards normal;
}

h1 {
  font-size: 3rem;
}

/* Animación de cambio de color del fondo */
@keyframes color {
  from {
    background-color: white;
  }

  50% {
    background-color: antiquewhite;
    box-shadow: 1px 1px 1px burlywood;
  }

  to {
    background-color: wheat;
    box-shadow: 4px 4px 10px burlywood;
  }
}

/*=============================================
=            Estilos para la pelota            =
=============================================*/

#pelota {
  width: 100px;
  height: auto;
}

#pelota svg {
  visibility: hidden;
  width: 100px;
  height: auto;
  fill: wheat;

  position: absolute;
  top: 0;
  left: 0;
  animation-name: vuelo;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -moz-animation: vuelo 5s linear 5s infinite alternate;
  -o-animation: vuelo 5s linear 5s infinite alternate;
  -webkit-animation: vuelo 5s linear 5s infinite alternate;
  animation: vuelo 5s linear 5s infinite alternate;
}


/* Animación de vuelo de la pelota por la ventana */
@keyframes vuelo {
  from {
    visibility: visible;
    left: 0;
    top: 0;
  }

  15% {
    left: calc(100vw / 4);
    top: calc(100vh / 2);
  }

  25% {
    left: calc(100vw - 100px);
    top: calc(100vh - 200px);
  }

  50% {
    left: calc(100vw / 3);
    top: 100px;
  }

  to {
    left: calc(100vw - 100px);
    top: calc(100vh - 200px);
  }
}

/*=============================================
=            Estilos del boton de pausar            =
=============================================*/
.btn {
  color: white;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  text-align: center;
  position: fixed;
  top: 90vh;
  right: 10%;
  border: none;
  box-shadow: 0 4px 10px black;
}

.btn:hover {
  box-shadow: 0 4px 10px black inset;
}

.pausar {
  background-color: red;

}

.arrancar {
  background-color: green;
}


/*=============================================
=            Estilos de la nota            =
=============================================*/
/** Estilos para los elementos animados con trasnsition */
section#nota {
  transition: all 1s ease-in-out 1s;
}

section#nota:hover {
  background-color: coral;
  border-color: orange;
  color: white;
}

section.mover {
  background-color: rgba(0, 204, 255, 0.336);
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 20px;
  box-shadow: 3px 4px 10px rgb(82, 82, 204);
  position: relative;
  text-align: center;
  animation: abajo-arriba 5s;
}

@keyframes abajo-arriba {
  0% {
    top: 90vh;
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }

}


/*=============================================
=            Estilos perro girando            =
=============================================*/

/** Estilos para los elementos animados con fotorograma clave */
.girar img {
  position: relative;
  left: 0;
  animation: move-rote 3s 2 linear;
}


/* Animación de movimiento giratorio */
@-moz-keyframes move-rote {
  0% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0px);
  }

  25% {
    transform: translateX(400%) rotate(90deg);
    filter: blur(5px);
  }

  50% {
    transform: translateX(0) rotate(180deg);
    filter: blur(0px);
  }

  75% {
    transform: translateX(-400%) rotate(270deg);
    filter: blur(5px);
  }

  100% {
    transform: translateX(0) rotate(36deg);
    filter: blur(0px);
  }
}

@-o-keyframes move-rote {
  0% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0px);
  }

  25% {
    transform: translateX(400%) rotate(90deg);
    filter: blur(5px);
  }

  50% {
    transform: translateX(0) rotate(180deg);
    filter: blur(0px);
  }

  75% {
    transform: translateX(-400%) rotate(270deg);
    filter: blur(5px);
  }

  100% {
    transform: translateX(0) rotate(36deg);
    filter: blur(0px);
  }
}

@-webkit-keyframes move-rote {
  0% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0px);
  }

  25% {
    transform: translateX(400%) rotate(90deg);
    filter: blur(5px);
  }

  50% {
    transform: translateX(0) rotate(180deg);
    filter: blur(0px);
  }

  75% {
    transform: translateX(-400%) rotate(270deg);
    filter: blur(5px);
  }

  100% {
    transform: translateX(0) rotate(36deg);
    filter: blur(0px);
  }
}

@keyframes move-rote {
  0% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0px);
  }

  25% {
    transform: translateX(400%) rotate(90deg);
    filter: blur(5px);
  }

  50% {
    transform: translateX(0) rotate(180deg);
    filter: blur(0px);
  }

  75% {
    transform: translateX(-400%) rotate(270deg);
    filter: blur(5px);
  }

  100% {
    transform: translateX(0) rotate(36deg);
    filter: blur(0px);
  }
}

/* estilos del perro que aumenta */

.ampliar {
  scale: 0.8;
}

.ampliar:hover {
  animation: ampliar 5s 2 alternate;
}

/*=============================================
=            Animación ampliar            =
=============================================*/

@keyframes ampliar {
  0% {
    scale: 0.8;
  }

  25% {
    scale: 0.75;
  }

  50% {
    scale: 1;
  }

  75% {
    scale: 1.25;
  }

  100% {
    scale: 1.5;
  }
}

/*=============================================
=            Estilos corazón            =
=============================================*/

section.latir img {
  animation: latir 1s infinite 5s;
  transform: scale(0.8);
  /* animation-play-state: paused; */
}

/* 
section.latir img:hover {
  animation-play-state: running;
} */

/*=============================================
=            animación latir            =
=============================================*/
@keyframes latir {
  0%, 50%, 100% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.9);
  }

  75% {
    transform: scale(1.1);
  }
}

/*=============================================
=            fotogramas claves            =
=============================================*/