@font-face {
  font-family: "Netflix";
  src: url(../fonts/NetflixSans-Regular.otf) format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Netflix light";
  src: url(../fonts/NetflixSans-Light.otf) format("opentype");
}

@font-face {
  font-family: "Netflix bold";
  src: url(../fonts/NetflixSans-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Netflix medium";
  src: url(../fonts/NetflixSans-Medium.otf) format("opentype");
}
