@charset "utf-8";

/*
   Diseño de Interfaces Web
   Unidad 6
   Práctica guiada Netflix

   Autor: Marina Vega Vázquez
   Fecha: 16/01/2024

   Nombre del archivo: media.css

*/
/* Estilos del reproductor de vídeo */

video{
   /* display: block; */
   width: 95%;
   margin: 5px auto;
}

::cue{
   font: 1.4rem sans-serif;
   line-height: 1.6;
   background-color: transparent;
   color: rgb(255,177,66);
}

::cue(.titulo){
   font: 2.5rem sans-serif;
   text-shadow: 1px 1px 2px black;
   background-color: rgba(36, 32, 32, 0.8);
}

::cue(v[voice="Ross"]){
   color: #0babdb;
   background-color: rgba(56, 53, 56, 0.304);
}
::cue(v[voice="Joey"]){
   color: gold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

::cue(v[voice="Rachel"]){
   color: violet;
}



