@charset "utf-8";
@import "./fonts.css";

/*
   Diseño de Interfaces Web
   Unidad 6
   Práctica guiada Netflix

   Autor: Marina Vega Vázquez
   Fecha: 16/01/2024

   Nombre del archivo: style.css

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-netflix: #e50914;
  --clr-fondo: black;
  --clr-texto: #c6c6c6;
  --fnt-light: "Netflix light", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  --fnt-bold: "Netflix bold", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  --tam-max-width: 1600px;
  --tam-max-img-videos: calc((var(--tam-max-width) / 4) - 2rem);
  --border-radius: 2px;
  font-size: 14px;
  font-family: var(--fnt-light);
  line-height: 1.6;
  letter-spacing: 2px;
}

html {
  background: linear-gradient(180deg, rgb(0, 0, 0) 38%, rgb(34, 33, 33) 100%);
  color: white;
}

body {
  /* width: 100vw; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/*=============================================
=            Estilos del header            =
=============================================*/
header {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.logo {
  width: 150px;
}

img {
  width: 100%;
  object-fit: cover;
}

h1 {
  display: none;
}

div.opciones {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

div.opciones h2 {
  font-size: 1.2rem;
  font-weight: 100;
  text-transform: uppercase;
}

.btn {
  background-color: var(--clr-fondo);
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
  border: none;
  outline: 1px solid;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
}

#btn-unir {
  background-color: var(--clr-netflix);
  outline-color: var(--clr-netflix);
}

#btn-unir:hover{
  background-color: white;
  color: var(--clr-netflix);
}

#btn-iniciar:hover{
  outline-color: var(--clr-netflix);
  color: var(--clr-netflix);
}

/*=====  End of Estilos del header  ======*/

/*=============================================
=            Estilos del main            =
=============================================*/
main {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*=============================================
=            Estilos de la sección de la portada  =
=============================================*/
.portada{
  /* display: grid;
  grid-template-columns: 1fr;  */
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

.logo-video{
  max-width: 300px;
}

video{
  width: 100%;
}

#card-texto{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#card-video{
  position: relative;
  align-self: center;
}
.txt-cont{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.773) 38%,
   rgba(255, 255, 255,0.577) 100%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.ocultar {
  display: none;
}

.txt-video button{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 3rem;
  padding: 5px 40px;
  transition: all 0.5s linear;
}
.txt-video button:hover{
  background-color: var(--clr-netflix);
  border-radius: 50px;
  cursor: pointer;
}

/*=====  End of Estilos de la sección de la portada */

/*=============================================
=            Estilos de la sección de las card de video            =
=============================================*/
.card-titulos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-titulos h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.lista-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, var(--tam-max-img-videos)));
  gap: 2rem;
  justify-content: center;
}

.enlace-video:hover, .enlace-video:focus{
  box-shadow: 0 0 15px var(--clr-netflix);
}

/*=====  End of Estilos de la sección de las card de video  ======*/

/*=====  End of Estilos del main  ======*/

/*=============================================
=            Estilos del footer            =
=============================================*/
footer {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*=====  End of Estilos del footer  ======*/

/*=============================================
=            Media queries            =
=============================================*/
@media screen and (min-width: 768px) {
  .portada {
    /* grid-template-columns: repeat(2, 1fr); */
    flex-direction: row; 
  }

  #card-video {
    max-width: 720px;
  }

  main {
    max-width: var(--tam-max-width);
    width: 90%;
  }
}

/*=====  End of Media queries  ======*/