/**
 *
 * UD7- Aninamción con fotograma clave
 * Animando un personaje
 * Autor: Marina Vega Vázquez
 * Fecha: 4/02/2024
 *
 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #050808;
}
#personaje {
  width: 112px;
  height: 156px;
  margin: auto;
  background: url(../img/bern.png) repeat-x;
  position: absolute;
  bottom: 0;
  right: 50%;
  animation: caminar 1s steps(6) infinite;
}

#fondo {
  background: url(../img/ciudad.avif) repeat-x;
  background-size: contain;
  position: relative;
  bottom: 0;
  height: 100vh;
  max-height: 770px;
  animation: moverbg 30s linear infinite normal;
}

@keyframes caminar{
  0%{
    background-position: 0;
  }
  100%{
    background-position: -672px;
  }
}

@keyframes moverbg {
  100% { 
    background-position: -1170px 0;
  }
}