/* Estilos generales de la galería */

.galeria {
  border: 10px solid black;
  padding: 1rem;
  list-style: none;
  background-color: rgba(92.26, 20, 0.993);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 100px 200px;
  gap: 1rem;
}

.galeria li {
  /*width: 100%;*/
  position: relative;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0.3px 0.5px 0.7px hsl(0deg 0% 0% / 0.36),
    0.8px 1.6px 2px -0.8px hsl(0deg 0% 0% / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(0deg 0% 0% / 0.36),
    5px 10px 12.6px -2.5px hsl(0deg 0% 0% / 0.36);
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.numero {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(105, 105, 105, 0.462);
  color: white;
  font-size: 1.5rem;
  /* posicionamos el número en el centro*/
  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity .5s;
}

/* Efecto */
.galeria li:hover .numero {
  opacity: 0;
}

.galeria li:nth-of-type(2),
.galeria li:nth-of-type(4),
.galeria li:nth-of-type(6) {
  grid-column: span 2;
  grid-row: span 2;
}


/*  galeria con auto-flow */

.auto-flow {
  grid-auto-flow: dense;
  /*
  grid: auto-flow dense 100px 200px / repeat(8,1fr);
  */
}