/* :root{
  --rotacion: 0deg;
} */
/*=============================================
=            Estilos del contenedor del reloj            =
=============================================*/


.contain-clock {
  position: relative;
  /* margin: -200px auto; */
  margin: 0 auto;
  width: 155px;
  /* height: 550px; */
}

/*=====  End of Estilos del contenedor del reloj  ======*/


/*=============================================
=            Estilos de la esfera  de las líneas del reloj          =
=============================================*/

.face-1 {
  position: relative;
  margin: 200px auto;
  background: white;
  border: 15px solid #ed6e46;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  z-index: 2;
}

.line {
  position: absolute;
  left: 50%;
  margin-left: -3px;
  background: gray;
  width: 6px;
  height: 126px;
}

.line-2 {
  left: 63px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg) translate3d(0, 0, 0);
}

.line-3 {
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg) translate3d(0, 0, 0);
  margin-left: -1px;
  width: 2px;
}

.line-4 {
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg) translate3d(0, 0, 0);
  margin-left: -1px;
  width: 2px;
}

.line-5 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg) translate3d(0, 0, 0);
  margin-left: -1px;
  width: 2px;
}

.line-6 {
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  margin-left: -1px;
  width: 2px;
}

/*=====  End of Estilos de la esfera de líneas  ======*/


/*=============================================
=            Estilos de las partes fijas del reloj            =
=============================================*/

.arm {
  position: absolute;
  top: -50px;
  left: 73px;
  background: gray;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  border-radius: 50px;
  width: 10px;
  height: 230px;
  z-index: 1;
}

.arm-2 {
  left: 71px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}

.bell {
  position: absolute;
  top: -30px;
  background: #ed6e46;
  border-radius: 50% 50% 10% 10%;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  width: 65px;
  height: 35px;
  z-index: 2;
}

.bell-2 {
  left: 90px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}

.hammer {
  position: absolute;
  top: -25px;
  left: 76px;
  background: gray;
  width: 3px;
  height: 30px;
  z-index: 1;
}

.hammer:before {
  content: '';
  display: block;
  position: absolute;
  left: -6px;
  background: gray;
  border-radius: 50px;
  width: 15px;
  height: 5px;
}

.handle {
  position: absolute;
  top: -68px;
  left: 32px;
  border: 8px solid gray;
  border-radius: 50px 50px 0 0;
  width: 75px;
  height: 30px;
}

.handle:after {
  content: '';
  display: block;
  position: absolute;
  top: 26px;
  background: #8fd5d5;
  width: 75px;
  height: 15px;
}



/*=====  End of Estilos de las partes del reloj  ======*/


.arm {
  position: absolute;
  top: -50px;
  left: 73px;
  background: gray;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  border-radius: 50px;
  width: 10px;
  height: 230px;
  z-index: 1;
}

.arm-2 {
  left: 71px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}

.bell {
  position: absolute;
  top: -30px;
  background: #ed6e46;
  border-radius: 50% 50% 10% 10%;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  width: 65px;
  height: 35px;
  z-index: 2;
}

.bell-2 {
  left: 90px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}

.hammer {
  position: absolute;
  top: -25px;
  left: 76px;
  background: gray;
  width: 3px;
  height: 30px;
  z-index: 1;
}

.hammer:before {
  content: '';
  display: block;
  position: absolute;
  left: -6px;
  background: gray;
  border-radius: 50px;
  width: 15px;
  height: 5px;
}

.handle {
  position: absolute;
  top: -68px;
  left: 32px;
  border: 8px solid gray;
  border-radius: 50px 50px 0 0;
  width: 75px;
  height: 30px;
}

.handle:after {
  content: '';
  display: block;
  position: absolute;
  top: 26px;
  background: #8fd5d5;
  width: 75px;
  height: 15px;
}


/*=============================================
=            Estilos de la esfera de horas, minutos, segundos            =
=============================================*/

.face-2 {
  position: absolute;
  top: 23px;
  left: 23px;
  background: white;
  border-radius: 50%;
  width: 109px;
  height: 109px;
  z-index: 3;
}

.hours,
.minutes,
.seconds {
  position: absolute;
  transform-origin: bottom;
  will-change: transform;
}

.hours {
  /* top: 20%;
  left: 50%; */
  top: 20px;
  left: 51px;
  /* margin-left: -4px; */
  /* --rotacion: 0deg; */
  background: rgb(197, 34, 50);
  /* transform: rotate(var(--rotacion-h));
  -webkit-transform: rotate(var(--rotacion-h)); */
  border-radius: 50px;
  width: 8px;
  height: 35px;
  z-index: 5;
  /*rotación completa de 360 grados en 43200s (12h), moviendose cada 
  minuto 30 grados */

  /* añadimos a las propiedades subyacentes al primer fotograma*/

}

.minutes {
  /* top: 7%;
  left: 50%; */
  top: 5px;
  left: 50px;
  /* margin-left: -4px; */
  /* --rotacion: 0deg; */
  background: #f8b65b;
  border-radius: 50px;
  /* transform-origin: bottom;
  -webkit-transform-origin: bottom; */
  width: 8px;
  height: 50px;
  /* z-index: 3; */
  /* animación de duración una hora (3600s) para que tenga 60 intervalos 
  (1 minuto) partiendo del estado final de la animación.
  Realiza la vuelta completa en 60 minutos
  dividimos 360deg en 60 fragmentos (60 minutos) nos da que se mueve 30deg y
  como la animación es de 3600s cada minuto se mueve 30grados */

}


.seconds {
  top: 5px;
  left: 53px;
  /* --rotacion: 0deg; */
  /* margin-left: -2px; */
  /* transform: rotate(var(--rotacion-s)); */
  background: #333333;
  border-radius: 50px;
  /* transform-origin: bottom;
  -webkit-transform-origin: bottom; */
  width: 4px;
  height: 50px;
  z-index: 5;

  /*rotación completa de 360 grados en 60s, moviendose cada segundo 30 grados
  De forma que si 30deg x 60s = 360deg
  60s es la duración de la animación que tendrá 60 fragmentos 
  animación que rota 360deg de forma que al tener 60 fragmentos
  dividimos 360deg en 60 fragmentos nos da que se mueve 30grados y
  como la animación es de 60s cada segundo se mueve 30grados
  */

}

.center {
  position: absolute;
  top: 62px;
  margin-top: -15px;
  left: 55px;
  margin-left: -8px;
  border-radius: 50%;
  background: #ed6e46;
  width: 16px;
  height: 16px;
  z-index: 20;
}