@forward "../../../src/scss/general";
@use "../../../src/scss/general" as general;

.eboton {
  text-decoration: none;
  width: max-content;
}

/* clase que representa el fondo de la ventana */
.modal{
  background-color: general.$colorPrimario;
  position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease-in;
  
  h2{
    text-align: center;
  }

  &__contenido{
    position: relative;
    border: 8px solid #321c3b;
    background-color: #fafafa;
    padding: 1rem 2rem;
    margin: 20%;
    @include general.flex(column,nowrap,stretch);
    height: max-content;

    #cierre{
      align-self: flex-end;
      text-decoration: none;
      background-color: #fafafa;
      color: black;
      font-size: 1.2rem;
      border: none;
    }
  }

  &:target{
    opacity: 1;
    pointer-events: auto;
  }
}