@font-face {
    font-family: "roboto";
    src: url("../font/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto bold";
    src: url("../font/Roboto/Roboto-Bold.ttf") format("truetype");
}