*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font: 14px/1.6 "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;
  overflow-x: hidden;
}

/*=============================================
 =            Estilos generales de las secciones            =
 =============================================*/




/** Estilos generales de las secciones **/
section {
  width: 400px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

figure {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

/*=============================================
=            Estilos de la cabecera            =
=============================================*/

/** Estilos de la cabecera **/
header {
  text-align: center;
  background-color: white;
  /* z-index: 99; */
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* animación color duración 5s ease-in-out (lenta principio y final, rapida resto) quedamos con los estilos finales*/
  -webkit-animation-name: color;
  animation-name: color;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  /* estilos finales tras la animación 
  none - ningún estilo 
  backwards - los estilos del primer fotograma ejecutado
  forwards - los estilos del último fotograma ejecutado - defecto
  both - aplica los estilos en ambas direcciones
  */
  -webkit-animation-direction: normal;
  animation-direction: normal;
  /* define la dirección de la animación
  normal - se reproduce tal cual se define en el @keyframe
  reverse - se invierte el orden
  alternate - para múltiples interacciones alterna de normal a reverse
  alterante-reverse - reproduce la animación en la dirección reverse seguida de la dirección normal
  */
  -webkit-animation: color 5s ease-in-out normal forwards;
  animation: color 5s ease-in-out normal forwards;
}

h1 {
  font-size: 3rem;
}

/* animación de cambio de color de fondo*/
@-webkit-keyframes color {
  from {
    background-color: white;
  }

  50% {
    background-color: antiquewhite;
    box-shadow: 1px 1px 1px burlywood;
  }

  to {
    background-color: wheat;
    box-shadow: 4px 4px 4px burlywood;
  }
}

@keyframes color {
  from {
    background-color: white;
  }

  50% {
    background-color: antiquewhite;
    box-shadow: 1px 1px 1px burlywood;
  }

  to {
    background-color: wheat;
    box-shadow: 4px 4px 4px burlywood;
  }
}

/*=============================================
=            Estilos para la pelota            =
=============================================*/
#pelota {
  /* text-outline: 0 0 #000; */
  width: 100px;
  height: auto;
}

#pelota svg {
  visibility: hidden;
  width: 100px;
  height: auto;
  fill: wheat;

  position: absolute;
  top: 0;
  left: 0;

  /* animation-name: vuelo;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  animation: vuelo 5s linear 5s infinite alternate;
}


/* Animación de vuelo de la pelota por la ventana */
@keyframes vuelo {
  from{
    visibility: visible;
    left: 0;
    top: 0;
  }
  15%{
    left: calc(100vw / 4);
    top: calc(100vh / 2);
  }
  25%{
    left: calc(100vw / 2);
    top: calc(100vh / 3);
  }
  50%,100%{
    left: calc(100vw - 100px);
    top: calc(100vh - 200px);
  }
  75%{
    left: calc(100vw / 3);
    top: 100px;
  }

}


/*=============================================
=            Estilos del boton de pausar            =
=============================================*/
.btn {
  color: white;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  text-align: center;
  position: fixed;
  top: 90vh;
  right: 10%;
  border: none;
  box-shadow: 0 4px 10px black;
}

.btn:hover {
  box-shadow: 0 4px 10px black inset;
}

.pausar {
  background-color: red;

}

.arrancar {
  background-color: green;
}

/*=============================================
=            Estilos de la nota            =
=============================================*/
/** Estilos para los elementos animados con trasnsition */
section#nota {
  transition: all 1s ease-in-out 1s;
}

section#nota:hover {
  background-color: coral;
  border-color: orange;
  color: white;
}

section#nota {
  background-color: rgba(0, 204, 255, 0.336);
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 20px;elay: 5s;
  box-shadow: 3px 4px 10px rgb(82, 82, 204);
  position: relative;
  -webkit-animation-name: movimiento-abajo-arriba;
  animation-name: movimiento-abajo-arriba;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

/* animación de movimiento de abajo arriba */
@-webkit-keyframes movimiento-abajo-arriba {
  from {
    top: 90vh;
    left: 0;
  }

  to {
    top: 0;
    left: 0;
  }
}

@keyframes movimiento-abajo-arriba {
  from {
    top: 90vh;
    left: 0;
  }

  to {
    top: 0;
    left: 0;
  }
}

/*=============================================
=            Estilos perro girando            =
=============================================*/

/** Estilos para los elementos animados con fotorograma clave */
.girar img {
  position: relative;elay: 5s;
  left: 0;
  -o-animation: movimiento-giratorio 3s linear 2;
  -moz-animation: movimiento-giratorio 3s linear 2;
  -webkit-animation: movimiento-giratorio 3s linear 2;
  animation: movimiento-giratorio 3s linear 2;
}


/* Animación de movimiento giratorio */

/* FX 5+ */
@-moz-keyframes movimiento-giratorio {
  from {
    transform: translateX(0) rotate(0deg);
    filter: blur(0px);
  }

  25% {
    transform: translateX(400%) rotate(90deg);
    filter: blur(5px);
  }

  50% {
    transform: translateX(0) rotate(180deg);
    filter: blur(0px);
  }

  75% {
    transform: translateX(-400%) rotate(270deg);
    filter: blur(5px);
  }

  to {
    transform: translateX(0) rotate(360deg);
    filter: blur(0px);
  }
}

/* Safari 4+ */

@-webkit-keyframes movimiento-giratorio {
  from {
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  25% {
    transform: translateX(400%) rotate(90deg);
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }

  50% {
    transform: translateX(0) rotate(180deg);
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  75% {
    transform: translateX(-400%) rotate(270deg);
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }

  to {
    transform: translateX(0) rotate(360deg);
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

/* Opera 12+ */
@-o-keyframes movimiento-giratorio {
  from {
    transform: translateX(0) rotate(0deg);
    filter: blur(0px);
  }

  25% {
    transform: translateX(400%) rotate(90deg);
    filter: blur(5px);
  }

  50% {
    transform: translateX(0) rotate(180deg);
    filter: blur(0px);
  }

  75% {
    transform: translateX(-400%) rotate(270deg);
    filter: blur(5px);
  }

  to {
    transform: translateX(0) rotate(360deg);
    filter: blur(0px);
  }
}

@keyframes movimiento-giratorio {
  from {
    transform: translateX(0) rotate(0deg);
    filter: blur(0px);
  }

  25% {
    transform: translateX(400%) rotate(90deg);
    filter: blur(5px);
  }

  50% {
    transform: translateX(0) rotate(180deg);
    filter: blur(0px);
  }

  75% {
    transform: translateX(-400%) rotate(270deg);
    filter: blur(5px);
  }

  to {
    transform: translateX(0) rotate(360deg);elay: 5s;
    filter: blur(0px);
  }
}

/* estilos del perro que aumenta */

.ampliar {
  scale: 0.6;
}

.ampliar:hover{
  animation: ampliar 5s 2 alternate;
}


/*=============================================
=            Animación ampliar            =
=============================================*/
@keyframes ampliar {
  0%{
    scale: 0.6;
  }
  25%{
    scale: 0.75;
  }
  50%{
    scale: 1;
  }
  75%{
    scale: 1.25;
  }
  100%{
    scale: 1.5;
  }
}
/*=============================================
=            Estilos corazón            =
=============================================*/

section.latir img {
  transform: scale(0.8);
  animation-name: latir;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  /* animation: latir 1s 5s infinite; */
}



/*=============================================
=            animación latir            =
=============================================*/
@keyframes latir {
  0%, 50%, 100%{
    transform: scale(1);
  }
  25%{
    transform: scale(0.9);
  }
  /* 50%{
    transform: scale(1);
  } */
  75%{
    transform: scale(1.1);
  }
  /* 100%{
    transform: scale(1);
  } */
}