// Estilos para los articles
@use "sass:string";
@use "../utilities/variables" as var;
@use "../utilities/mixins";

.articulo{
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;

    &__portada {
        @include mixins.ancho-alto($alto: 150px);
        //background: url(string.quote(#{var.$url})+"/fondos/"+string.quote(#{var.$fondo})) no-repeat center;
        background: url(#{var.$url}/fondos/#{var.$fondo}) no-repeat center;
        background-size: contain;
        
        @include mixins.escritorio {
            height: 300px;
        }
    }

    h2{
        background-color: var.$color-fondo-h2;
        padding-left: 1rem;
        border-radius: var.$radio-borde * 1px;
        @include mixins.fuente(var.$fuente-secundaria,$weight:"bold");
    }

    p{
        padding: .5rem;

        &.autor {
            font-style: italic;
        }
    }

    figure {
        max-width: 640px;
        margin: 0 auto;
    }
}