/* selector universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    --color-fondo: rgba(124, 225, 192, 0.304);
}

/* selectores simples */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem;
    padding: .5rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: rgb(15, 89, 82);
}

h4 {
    font-size: 1.3rem;
}

p,
ul,
li {
    margin: 1rem;
}

.subtitulo {
    font-weight: 600;
    padding-left: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hljs-comment {
    color: #666;
}

.hljs-selector-tag {
    color: green;
}

/* selector simple y descendiente indirectos */
.lista a {
    text-decoration: none;
    color: green;
    font-size: 1rem;
}

/* selectores de atributos */
p a[href^="#"] {
    color: blueviolet;
}

/* selector de pseudoclases */
/* seleccionamos los hermanos impares de tipo section*/
/*section:nth-child(odd) {*/
section:nth-of-type(2n+1) {
    background-color: #c6c6c63f;
    padding: 1rem 0;
    border-radius: 20px;
    margin: 1rem;
}


/* selector de hijo descendiente directo */
section>h2 {
    background-color: var(--color-fondo);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
}


/*selectores desdientes directos e indirectos */
section p,
section li {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

section h3 {
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px dotted green;
}

pre {
    background-color: rgba(128, 128, 128, 0.131);
    font-family: 'Courier New', Courier, monospace;
    margin: 1rem;
    width: max-content;
    padding-right: 2rem;
}

/* selectores hermanos general */
h4~p.subtitulo {
    border-top: 1px dotted #666;
}

/* selectores hermanos adyacentes */
h3+ul {
    margin-left: 2rem;
    list-style-type: circle;
}

/* css del ejemplo de pseudoclases */
ul#ejemplo {
    text-align: center;
}

ul#ejemplo li {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #f7f7f7;
    border: solid 1px #ccc;
    padding: 10px;
    margin: 5px;
}

/* Selector de pseudoelemento para cambiar el color de fondo de los li impares */
ul#ejemplo li:nth-child(odd) {
    background-color: #FFD986;
}

ul#ejemplo li:nth-child(even) {
    background-color: #EFFFAB;
}

/* Estilos para la tabla */
table {
    font-size: 1rem;
    box-shadow: 0 0 10px #0004;
    margin: 0 auto;
    max-width: 90vw;
}

table,
tr,
th,
td {
    border: 1px solid #666;
    border-collapse: collapse;
    padding: 8px;
}

thead {
    background: linear-gradient(rgb(21, 153, 21) 50%, green 0);
    vertical-align: middle;
    color: white;
    font-size: 1.1rem;
}

tr {
    margin: 1rem;
}

/* Empleamos selector no hijo directo, es decir para los code que no sean hijos directos de un pre
interlineado 100% color letra rgb(189, 33, 15)*/
:not(pre)>code {
    line-height: 100%;
    color: rgb(189, 33, 15);
}

a>code {
    color: darkblue;
}

/* Selector de pseudoclase para cambiar el color de las filas pares */
tr:nth-child(even) {
    background-color: var(--color-fondo);
}

/* selector de pseudoelemento que al seleccionar un párrafo se ponga color de fondo darkblue y letra blanco*/
p::selection {
    background-color: darkblue;
    color: white;
}