// estilos del menú hamburguesa con javascript
@use "general" as general;


.cabecera{
    .off-canvas{

        &__btn{
            background: none;
            box-shadow: none;
            border: none;
            @include general.respond-to("movil"){
                opacity: 1;
            }

            .close{
                background-color: transparent;
                
                &::before{
                    transform: rotate(45deg) translate(0, 0);
                    background-color: general.$color-primario;
                }

                &::after{
                    transform: rotate(-45deg) translate(0.3rem, -0.375rem);
                    background-color: general.$color-primario;
                }
            }

            
        }

    }
}