/* UD2- Repaso CSS
Ejercicio 3 visibilidad
Autor: 
fecha:
Nombre del fichero: 3-styles.css
*/

/* Da estilo a los elementos HTML de acuerdo con las siguientes instrucciones.
NO ALTERES EL HTML EXISTENTE PARA HACER ESTO. ¡ESCRIBE SOLO CSS! */
:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  --color-fondo: #b2c0c1;
  --color-letra: #02464b;
  --color-fondo-oscuro: #022b2e;
  --color-fondo2: #3F585A;
  --size-header: 200px;
  --color-fondo-input: #b7d8da49;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
