/* 
  DIW - UD8 
  Autor: Marina Vega Vázquez
  Fecha: 23/04/2023
  
  fichero: carrusel.css
*/
$ancho-carrusel: 640px;
$alto-carrusel: 480px;
$transicion: opacity 0.1s linear;

@mixin defAnimacion($propiedades) {
    animation: $propiedades;
    -moz-animation: $propiedades;
    -o-animation: $propiedades;
    -webkit-animation: $propiedades;
}

@mixin keyframes($nombre) {
    @-moz-keyframes #{$nombre} {
        @content;
    }

    @-o-keyframes #{$nombre} {
        @content;
    }

    @-webkit-keyframes #{$nombre} {
        @content;
    }

    @keyframes #{$nombre} {
        @content;
    }
}

@mixin anchoAlto($ancho: 100%, $alto: 100%) {
    width: $ancho;
    height: $alto;
}

@mixin transicion($transicion) {
    transition: $transicion;
    -moz-transition: $transicion;
    -o-transition: $transicion;
    -webkit-transition: $transicion;
}

@mixin defineOpacidad($opacidad: 1) {
    opacity: $opacidad;
}

@mixin defineSimbolo($simbolo) {
    content: $simbolo;
    position: absolute;
    top: 50%;
    right: 0;
    background-color: white;
    font-size: 20px;
    width: 1em;
    height: 3em;
    font-weight: bold;
    font-family: sans-serif;
    transform: translateY(-50%);
    line-height: 3em;
    box-sizing: border-box;
    padding: 0 0.2em;
    cursor: pointer;
    @include defineOpacidad(0.5);
    @include transicion($transicion);
}
.carrusel {
    @include anchoAlto($ancho-carrusel, $alto-carrusel);
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    background-color: black;

    &__galeria {
        @include anchoAlto();
        display: flex;
        position: absolute;
        left: 0;
        transition: left 0.25s ease-out;
        @include transicion($transicion);
        $propiedades: mueve steps(10) 50s infinite;

        img {
            @include anchoAlto($ancho-carrusel, $alto-carrusel);
            object-fit: contain;
        }
    }

    &__bubbles {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 5px;
        // clase buble que se asignará a los span generados por el javascript
        .bubble {
            margin: 2.5px;
            background-color: white;
            border-radius: 100000px;
            width: 10px;
            height: 10px;
            display: inline-block;
            @include defineOpacidad(0.25);
            @include transicion($transicion);
            cursor: pointer;

            &:hover {
                @include defineOpacidad(0.65);
            }
            &--activa {
                @include defineOpacidad(1);
            }
        }
    }

    &__next {
        &::after {
            @include defineSimbolo(">");
            &:hover {
                @include defineOpacidad(1);
            }
        }
    }
    &__prev {
        &::before {
            @include defineSimbolo("<");
            left: 0;
        }
        &::after {
            &:hover {
                @include defineOpacidad(1);
            }
        }
    }
}
