// Estilos para las columnas
@use "../utilities/mixins";
@use "../utilities/variables" as var;

.columnas {
  max-width: 100%;
  width: max-content;
  //@include mixins.flex($gap: 2rem);
  @include mixins.flex($align: flex-start, $gap: 1rem);
  margin: 0 auto;
  background-color: var.$negro;
  //Añadir: 
  padding: 1rem;

  div {
    @include mixins.colorFondoTexto(var.$negro, var.$naranja);
    padding: 0.25rem;
    max-width: 100%;
    $propiedades: all .5s ease-in;
    @include mixins.transition($propiedades);

    & h3 {
      display: inline-block;
      background-color: var.$naranja;
    }

    &:nth-of-type(2n + 1) {
      @include mixins.colorFondoTexto(var.$naranja, var.$negro);
    }

    &:hover{
        @include mixins.transform(scale(1.2));
    }
  }
}
.codigo {
    max-width: 100%;
    text-wrap: wrap;
    background-color: var.$grisClaro;
    border-radius: var.$borderRadius * 1px;
    padding: 1rem;

    &, &-texto{
        font-family: 'Courier New', Courier, monospace;
    }
    &-texto{
        color: var.$naranja;
    }

}
