@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilos generales */
:root {
  /*En esta ocasión las siglas no son colores, sino parámetros: 
  Hue (tono), Saturation (saturacion) y Lightness (luminosidad).
*/
  --clr-primario: hsl(206, 80%, 32%);
  --clr-secundario: hsl(206, 100%, 96%);
  --clr-secundario-2: hsl(206, 90%, 76%);
  --clr-letra: hsl(209, 61%, 16%);
  --clr-letra-2: hsl(205, 22%, 34%);
  --clr-fondo: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-blue-light: hsl(207, 82%, 44%);
  --clr-black: #222;
  /* fuentes*/
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  /* sombras */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  /* dimensiones*/
  --radius: 0.25rem;
  --spacing: 0.1rem;
  --max-width: 1170px;
  --max-width-cards: 320px;
  --fuente-h1: 2rem;
  /* Estilos generales fuentes */
  font-size: 14px;
  line-height: 1.5;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-fondo);
  color: var(--clr-letra);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  padding: 0.5rem 0;
  font-family: var(--ff-primary);
}
h1 {
  font-size: var(--fuente-h1);
}
h2 {
  font-size: calc(var(--fuente-h1) / 1.5);
}
h3 {
  font-size: calc(var(--fuente-h1) / 2);
}
h4 {
  font-size: calc(var(--fuente-h1) / 2.25);
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-letra-2);
}

/* Estilos del main */
main{
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
/* Estilos de la cabecera */
header{
  margin-bottom: 4rem;
  text-align: center;
}
.subrayado {
  height: 0.25rem;
  width: 5rem;
  background-color: var(--clr-primario);
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

header:hover .subrayado{
  /* width: 20rem; */
  transform: scaleX(3.5);
  background-color: var(--clr-secundario-2);
}


/* Estilos del contenedor de cards de empleados */
.empleados{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
/* Estilos del article de empleados */
.empleado{
  max-width: var(--max-width-cards);
  padding: 1.5rem 2rem;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition);
}

.empleado:hover{
  box-shadow: var(--dark-shadow);
}
/* Estilos del figure que tiene la imagen del empleado */
.img-contenedor{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  /* overflow: hidden;  */
}
/* Estilos para poner las comillas en la esfera de delante de la imagen */
.img-contenedor::after{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem; 
  height: 2.5rem;
  background-color: var(--clr-primario);
  color: var(--clr-white);
  border-radius: 50%;
  transform: translateY(25%);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Esfera que tenemos debajo de la imagen */
.img-contenedor::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--clr-primario);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
/* Estilos de la imagen */
.persona-img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  transition: var(--transition);
}

.persona-img:hover{
  filter: grayscale(100%);
}
/* Estilos del h2 que contiene el nombre del empleado */
.nombre{
  margin-bottom: 0.25rem;
}
/* Estilos del h3 que contiene el puesto */
.trabajo{
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--clr-primario);
}
/* Estilos del párrafo que tiene la información del empleado*/
#info {
  margin-bottom: 0.75rem;
}

/* Estilos del botón contactar */
.contacta-btn{
  padding: 0.25rem 0.5rem;
  font-size: 1.1rem;
  background-color: var(--clr-secundario);
  color: var(--clr-primario);
  border: 1px solid var(--clr-primario);
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}

.contacta-btn:hover{
  background-color: var(--clr-primario);
  color: var(--clr-secundario);
}

/* Media querie */
@media screen and (min-width: 800px) {
  :root{
    font-size: 16px;
    --fuente-h1: 2.5rem;
  }
 h1,h2,h3,h4 {
  line-height: 1;
 }
}