//definimos variables
$tam: 14px;
$negro: #000;
$blanco: #fff;
$naraja: orange;
$verde: green;
$colorSass: #cf649a;
$flex-columna: "column wrap";
$flex-row: "row wrap";
$centrado: center;
$fuente: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font: 14px/1.6 $fuente;
}