@use "sass:math";
$color-fondo: #9a8a86;
$color-primario: #594e4d;
$color-secundario: #dcb78e;
$color-adicional: #fff8e1;
$fuente: Georgia, "Times New Roman", Times, serif;
$tamFuente: 14;
// puntos de ruptura
$breakpoints: (
  "movil": (
    max-width: 700px
  ),
  "escritorio": (
    min-width: 701px
  )
);
