@import url("https://fonts.googleapis.com/css?family=Lato");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-fondo-pagina: #ffefea;
  --color-fondo-texto: darksalmon;
  --color-fondo-caja: #333;
  --color-texto: #212121;
  font-size: 16px;
}

body {
  width: 100vw;
  background: var(--color-fondo-pagina);
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  padding: 1.25rem;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

/**
 *
 * Estilos del contenedor principal - contiene toda la página
 *
 */
.container {
  flex: 1;
  margin: 0 auto;
  padding: 1.25rem;
  width: 100%;
}

/*============================================
=  Estilos del botón de selección de la voz y de la caja de voz  =
==============================================*/

.btn{
  cursor: pointer;
  background-color: var(--color-fondo-texto);
  color: var(--color-texto);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  padding: .5rem;
}

.btn:active{
  transform: scale(1.1);
  background-color: var(--color-texto);
  color: #fafafa;
}

.btn:focus{
  background-color: #333;
  color: #fafafa;
}

.btn:hover{
  box-shadow: 0 4px 10px;
}

button#read:hover{
  outline: 1px solid var(--color-fondo-texto);
}

.btn-toggle{
  display: block;
  margin: 0 auto;
  margin-bottom: 1.3rem;
}
/*=====  End of Estilos del botón de selección de la voz y de la caja de voz  ======*/

/*=====================================================
=  Estilos de la caja de texto de elección de la voz  =
=======================================================*/
.text-box {
  width: 70%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -800px);
  background-color: var(--color-fondo-caja);
  color: #fafafa;
  border-radius: 5px;
  padding: 20px;
  transition: all 1s ease-in-out;

}

.text-box.show {
  transform: translate(-50%, 0);
}

.text-box .close{
  float: right;
  text-align: right;
  cursor: pointer;
}
.text-box select{
  background-color: var(--color-fondo-texto);
  border: 0;
  color: var(--color-texto);
  height: 30px;
  width: 100%;
  margin-top: 1rem;
  border-radius: 4px;
}
.text-box textarea {
  border: 1px solid #dadada;
  border-radius: 4px;
  font-size: 1rem;
  padding: 8px;
  margin: 15px 0;
  width: 100%;
  height: 150px;
}
.text-box label {
  font-size: 1.5rem;
}

.text-box .btn{
  width: 100%;
  font-size: 1.3rem;
}
/*=====  End of  Estilos de la caja de texto de elección de la voz  ======*/

/**
 *
 * Estilos del main
 *
 */

main {
  /* width: 100%; */
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 280px)); */
  /* grid-auto-rows: 1fr; */
  grid-template-rows: repeat(auto-fit, minmax(250px,1fr));
/*  grid-auto-rows: 1fr;*/
  justify-content: center;
  gap: 0.625rem;
}

/*=============================================
=            Estilos de las cards            =
=============================================*/

.box {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-fondo-texto);
  transition: box-shadow 0.2s ease-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box:hover,
.box.active {
  box-shadow: 0 0 10px 5px var(--color-fondo-texto);
}

/* Imágenes de las card */

.box img{
  width: 100%;
  object-fit: cover;
  height: 200px;
}
/* Párrafo con el texto de las card prefijadas */
.box .info{
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*=====  End of Estilos de las cards  ======*/

/*=============================================
=            Estilos del pie            =
=============================================*/

footer {
  text-align: center;
  color: #666;
  font-size: 0.8rem;
}

/*=====  End of Estilos del pie  ======*/

/*=============================================
=            Estilos media queries            =
=============================================*/
/* @media screen and (max-width: 1100px) {
  main{
    grid-template-columns: repeat(3, minmax(auto,280px));
  }
}

@media screen and (max-width: 767px) {
  main{
    grid-template-columns: repeat(2, minmax(auto,280px));
  }
}

@media screen and (max-width: 500px) {
  main{
    grid-template-columns: 1fr;
  }
} */

/*=====  End of Estilos media queries  ======*/
