// funciones
@use "sass:math";
@use "./variables" as var;

//función para diferentes títulos
@function titulos($tipo) {
    $valor: var.$tam-h1 * 1rem;
    @if $tipo > 1 {
        @if $tipo == 2 {
            $valor: var.$tam-h1 - 0.5rem;
        } @else if $tipo == 3 {
            $valor: math.div(var.$tam-h1, 1.5) * 1rem;
        } @else {
            $valor: math.div(var.$tam-h1, 2) * 1rem;
        }
    }
    @return #{$valor};
}