// Modulo de variables scss
$color-fondo: violet;
$color-fondo-h2: rgba(238,130,238,0.348);
$color-texto-primario: #333;
$color-enlaces: #901490;
$radio-borde: 5;
$fuente-primaria: Cambria, Cochin, Georgia, Times, serif;
$fuente-secundaria: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$fuente-size: 14;
$tam-h1: 2.5;
$redes: "facebook","github","gmail","instagram";

$font-weghts: (
    "regular": 400,
    "medium": 500,
    "bold": 700
)
