// Estilos para las animaciones
@use "sass:math";
// mixin para definir las propiedades de la animación
@mixin defAnimacion($propiedades){
    -o-animation: $propiedades;
    -moz-animation: $propiedades;
    -webkit-animation: $propiedades;
    animation: $propiedades;
}

// mixin para añadir los fotogramas claves
@mixin keyframes($nombre){
    @keyframes #{$nombre} {
        @content;        
    }
    @-moz-keyframes #{$nombre} {
        @content;        
    }
    @-o-keyframes #{$nombre} {
        @content;        
    }
    @-webkit-keyframes #{$nombre} {
        @content;        
    }
}

// mixin animación de aparece ventan modal
@mixin animacionAparecer(){
    from{
        top: math.div(100, 2) * -1vw;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}