// Módulo de variables
$color-fondo: violet;
$color-fondo-h2: rgba(238, 130, 238, 0.348);
$color-texto-primario: #333;
$fuente-primaria: Georgia, 'Times New Roman', Times, serif;
$radio-small: 5px;
$tam-h1: 2.5;
$redes: "facebook", "github","gmail","instagram";

$url-img: "../../img";
$fondo: "fondo.png";