// Estilos generales
@use "sass:string";
@use "../utilities/variables" as var;
@use "../utilities/mixins";
@use "../utilities/functions";
/*=============================================
=            Estilos generales            =
=============================================*/
:root{
    font: {
        size: var.$fuente-size * 1px;
        family: var.$fuente-primaria;
    }
    line-height: 1.6;
    color: var.$color-texto-primario;
    @include mixins.escritorio(){
        font-size: 16px;
    }
}

%fondo {
    background-color: var.$color-fondo;
    @include mixins.ancho-alto($alto:auto);
    max-width: 100%;
    @include mixins.flex($justify: space-between);
    padding: .5rem 2rem;
}

body{
    max-width: 100vw;
    min-height: 100vh;
    $filas: auto 1fr auto;
    @include mixins.grid(null,$filas,null, $align-content: null);

    @for $i from 1 through 4 {
      h#{$i}{
        font-size: functions.titulos($i);
        //@include mixins.titulos($i);
//        @debug $i;
      }  
    }

    .avatar{
        @include mixins.ancho-alto(40px,40px);
        border: 4px double white;

        &--circulo{
            border-radius: 50%;
            overflow: hidden;
            z-index: 99;
        }

        img{
            @include mixins.transition(all .2s ease-in-out);
        }

        &:hover img{
            $propiedad: rotate(360deg);
            @include mixins.transform($propiedad);
        }
    }

    img {
        width: 100%;
        object-fit: cover
    }

    main{
        width: 100%;
    }

}
    /*=====  End of Estilos generales  ======*/

/*=============================================
=            Estilos del header            =
=============================================*/

header{
    @extend %fondo;
    
    h1{
        flex: 1;
        text-align: center;
       transform: translateX(-30px);
        text-transform: uppercase;
        @include mixins.fuente(var.$fuente-secundaria,null,"bold");
    }
}



/*=============================================
=            Estilos de los iconos            =
=============================================*/
@each $name, $valor in var.$icons{
    .icon--#{$name}::before {
        display: inline-block;
        font-family: "Material Icons";
        content: $valor;
        @if #{$name} != "copy" {
            color: orange;
        }
    }
}


/*=============================================
=            Estilos del nav de redes            =
=============================================*/
.redes {
    position: fixed;
    top: 40%;
    right: 0;
    border: 1px solid;
    border-radius: var.$radio-borde * 1px;
    box-shadow: 0 4px 10px;
    @include mixins.flex(column);
    button {
        border: none;
        cursor: pointer;
    }

    a,button{
        @include mixins.ancho-alto(60px, 60px);
     
        &:hover{
            scale: 1.2;
        }
    }

    @each $name in var.$redes{
        &--#{$name} {
            background: url(string.quote(#{var.$url})+"/redes/#{$name}.svg") no-repeat center;
            background-size: contain;
        }
    }

}




/*=============================================
=            Estilos del footer            =
=============================================*/
footer{
    @extend %fondo;
}

    





