//mixins
@use "./variables" as var;
// Mixin para los estilos de los svg
@mixin svg($max-width: 30px,$width:100%,$height:auto,$color){
    max-width: $max-width;
    width: $width;
    height: $height;
    fill: $color;
}

// mixin para maquetar con flex

@mixin flex($direccion: row, $wrap: wrap, $justify: center, $align: center, $gap: null){
    display: flex;
    flex-flow: $direccion $wrap;
    justify-content: $justify;
    align-items: $align;
    align-content: $align;
    gap: $gap;
}

// mixin para los titulos (h1, h2, h3,...)
@mixin encabezados($tam){
    h1{
        font: {
            size: $tam;
            family: var.$fuente-secundaria;
            weight: bold;
        }
    }

    h2{
        font: {
            size: $tam - 0.2;
            family: var.$fuente-secundaria;
        }
    }

    h3{
        font-size: $tam - 0.5;
    }
}

// mixin color fondo - texto
@mixin colorFondoTexto($fondo, $texto){
    background-color: $fondo;
    color: $texto;
}

// mixin tranform
@mixin transform($propiedades...){
    -ms-transform: $propiedades;
    -o-transform: $propiedades;
    -moz-transform: $propiedades;
    -webkit-transform: $propiedades;
    transform: $propiedades;
}

// mixin transition
@mixin transition($propiedades...){
    -ms-transition: $propiedades;
    -o-transition: $propiedades;
    -moz-transition: $propiedades;
    -webkit-transition: $propiedades;
    transition: $propiedades;
}