// variables de colores, tipografía,...
$tam: 14px;
$negro: black;
$blanco: #fff;
$naranja: orange;
$verde: green;
$azul: blue;
$colorSass: #cf649a;
$grisOscuro: rgb(19,18,18);
$grisClaro: rgba(128,128,128,0.288);
$flex-columna: "column wrap";
$flex-row: "row wrap";
$centrado: center;
$fuente: "Source_Cope_Pro", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$fuente-secundaria: 'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$borderRadius: 5;
$url-assets: "../../assets";
$roboto: #{$url-assets} + "/fonts/Roboto/static";
$source-code: #{$url-assets} + "/fonts/Source_Code_Pro";
